<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/task   
    http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <bean id="taskEventPublisher" class="com.dianping.puma.core.monitor.SwallowEventPulisher"
        init-method="init">
        <property name="topic" value="puma_task_event" />
    </bean>

    <bean id="statusActionEventPublisher" class="com.dianping.puma.core.monitor.SwallowEventPulisher"
        init-method="init">
        <property name="topic" value="puma_status_action_event" />
    </bean>

    <bean id="taskDeleteEventPublisher" class="com.dianping.puma.core.monitor.SwallowEventPulisher"
        init-method="init">
        <property name="topic" value="puma_task_delete_event" />
    </bean>

    <bean id="statusEventSubscriber"
        class="com.dianping.puma.core.monitor.SwallowEventSubscriber"
        init-method="init">
        <property name="topic" value="puma_status_event" />
        <property name="notifyService" ref="notifyService" />
        <property name="clazz"
            value="com.dianping.puma.core.monitor.TaskStatusEvent" />
        <property name="listeners">
            <list>
                <ref bean="systemStatusContainer" />
            </list>
        </property>
    </bean>

</beans>