a:hover.operation-icon {
    text-decoration: none;
}

.orange-warning {
    color: orange;
}

.validation-help {
    display: block;
    margin-top: 5px;
}

.validation-help span {
    color: red;
}

.bs-docs-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	color: #767676;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

