.nav-header{
	
}
.table tbody tr.goldtime td {
	background-color: #F2DEDE;
}

section {
	padding-top: 60px;
}

.modal form {
	margin-bottom: 0px;
}

#footer p {
	margin-bottom: 0;
}

#footer p.right {
	float: right;
}

#footer .legal {
	margin-bottom: 5px;
}

hr.soften {
	border: 0 none;
	height: 1px;
}

.step_active { /*color: #485764;*/
	color: #3A87AD;
}

.step_done {
	color: #468847;
}

.step_undo {
	color: #A4A4A4;
}

.divider_line {
	*width: 100%;
	height: 1px;
	margin: 9px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
}

.nav-header {
	color: #485764;
	font-size: 14px;
	padding-left: 0px;
	font-weight: normal;
}

strong.stronger {
	color: #B94A48;
	font-size: 14px;
}

.affix {
	position: fixed;
}

.cred {
	color: #D90B00;
}

.puma-steps {
	background-image: url(../images/golden-background.jpg);
	border-radius: 4px 4px 4px 4px;
}

.legend {
	display: block;
	width: 100%;
	padding: 0;
	/*margin-bottom: 27px; wukezhu*/
	margin-bottom: 15px;
	font-size: 19.5px;
	line-height: 36px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.no-under a a:hover {
	text-decoration: none;
}

.validation-help {
	display: block;
	margin-top: 5px;
}

.validation-help span {
	color: red;
}

.orange-warning {
	color: orange;
}
