<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try {
			ace.settings.check('breadcrumbs', 'fixed')
		} catch (e) {
		}
	</script>

	<ul class="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">主页</a>
		</li>

		<li class="active">源数据实例编辑</li>
	</ul>
	<!-- /.breadcrumb -->
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">

	<!-- /section:settings.box -->
	<div class="page-content-area">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12" ng-app="formApp" ng-controller="formCtrl" ng-init="backUrl = '${rc.contextPath}/src-db-instance/'">
						<form class="form-horizontal" role="form">
							<div class="puma-form-group-start"></div>
							<!-- #section:elements.form -->
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 服务器名称 </label>

								<div class="col-sm-10">
									<input type="text" id="form-field-1" placeholder="服务器名称"
										class="col-xs-10 col-sm-5" ng-model="entity.name"
										#if(${entity}) ng-init="entity.name='${entity.name}'" readonly="readonly" #end/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> SERVER ID </label>

								<div class="col-sm-10">
									<input type="text" id="form-field-1"
										placeholder="SERVER ID"
										class="col-xs-10 col-sm-5" ng-model="entity.serverId"
										#if(${entity}) ng-init="entity.serverId ='${entity.serverId}'"
										#end
                         				#if(${lock}) readonly="readonly"
										#end />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 服务器Host </label>

								<div class="col-sm-10">
									<input type="text" id="form-field-1"
										placeholder="服务器Host"
										class="col-xs-10 col-sm-5" ng-model="entity.host"
										#if(${entity}) ng-init="entity.host ='${entity.host}'"
										#end
                         				#if(${lock}) readonly="readonly"
										#end />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 服务器Port </label>

								<div class="col-sm-10">
									<input type="text" id="form-field-1"
										placeholder="服务器Port"
										class="col-xs-10 col-sm-5" ng-model="entity.port"
										#if(${entity}) ng-init="entity.port ='${entity.port}'"
										#end
                         				#if(${lock}) readonly="readonly"
										#end />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 用户名 </label>

								<div class="col-sm-10">
									<input type="text" id="form-field-1"
										placeholder="用户名"
										class="col-xs-10 col-sm-5" ng-model="entity.username"
										#if(${entity}) ng-init="entity.username ='${entity.username}'"
										#end
                         				#if(${lock}) readonly="readonly"
										#end />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 密码 </label>

								<div class="col-sm-10">
									<input type="password" id="form-field-1"
										placeholder="密码"
										class="col-xs-10 col-sm-5" ng-model="entity.password"
										#if(${entity}) ng-init="entity.password ='${entity.password}'"
										#end
                         				#if(${lock}) readonly="readonly"
										#end />
								</div>
							</div>
							<div class="clearfix form-actions puma-form-actions">
								<div class="col-md-offset-2 col-md-10">
									<button class="btn btn-info" type="button"
										#if(${lock}) disabled="disabled" #end ng-click="submit()">
										<i class="ace-icon fa fa-check bigger-110"></i> 提交
									</button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn" type="button">
										<i class="ace-icon fa fa-undo bigger-110"></i> 重置
									</button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-info" type="button" ng-click="goBack()">
										<i class="ace-icon fa fa-backward bigger-110"></i> 返回
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>


			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
</div>
<!-- /.page-content -->
