<div>
   <button id="step1_next" disabled="disabled"
      style="float: right; margin-top: 6px; margin-right: 20px;"
      type="button" onclick="pumadmin.step1_next();"
      class="btn btn-info">下一步</button>
   <p class="legend">请点击选择</p>
   <span>已有数据源：</span> <select id="dataSourceSelect"
      onChange="pumadmin.loadDataSource();">
      <option value="-1" selected="selected">全部</option>
      #foreach($dataSource in $dataSources)
      <option value="$src.id">$dataSource.name</option> #end
   </select>
   <div id="container" style="height: 550px;">
      <ul id="offers" class="thumbnails">
      </ul>
      <ul class="pager">
         <li id="prePage"><a
            href="javascript:pumadmin.loadDataSource(window.pageNum-1)">&larr;
               上页</a></li>
         <li id="nextPage"><a
            href="javascript:pumadmin.loadDataSource(window.pageNum+1)">下页
               &rarr;</a></li>
      </ul>
   </div>
</div>