<ul class="nav nav-tabs">
    <li ng-class="{'active':node.nodeConfigRef == 'group-ds-sql-load'}">
        <a data-toggle="tab" href="" ng-click="node.nodeConfigRef = 'group-ds-sql-load'">group-ds</a>
    </li>
    <li ng-class="{'active':node.nodeConfigRef == 'tomcat-ds-sql-load'}">
        <a data-toggle="tab" href="" ng-click="node.nodeConfigRef = 'tomcat-ds-sql-load'">tomcat-ds</a>
    </li>
</ul>
<div class="tab-content">
    <form class="form-horizontal" role="form">
        <div ng-include="template.etl + 'common.html'"></div>
        <div ng-include="template.load + node.nodeConfigRef + '.html'"></div>
    </form>
</div>