<ul class="nav nav-tabs">
    <li ng-class="{'active':node.nodeConfigRef == 'binlog-to-mysql-transform'}">
        <a data-toggle="tab" href="" ng-click="node.nodeConfigRef = 'binlog-to-mysql-transform'">binlog-to-mysql</a>
    </li>
    <li ng-class="{'active':node.nodeConfigRef == 'simple-sql-mapper-transform'}">
        <a data-toggle="tab" href="" ng-click="node.nodeConfigRef = 'simple-sql-mapper-transform'">simple-sql-mapper</a>
    </li>
</ul>
<div class="tab-content">
    <form class="form-horizontal" role="form">
        <div ng-include="template.etl + 'common.html'"></div>
        <div ng-include="template.transform + node.nodeConfigRef + '.html'"></div>
    </form>
</div>