DELETE FROM
`${database}`.`${formatTables}`
WHERE
#set ($keyCount = 0)
#foreach($entry in $columns.entrySet())
	 #if(${entry.value.pk})
		  #set ($keyCount = $keyCount + 1)
		  #if ($keyCount > 1)
        AND
		  #end
	     `${entry.key}` = ?
	 #end
#end
