INSERT INTO
`${database}`.`${table}`
(
#set($ask = "")
#foreach($entry in $columns.entrySet())
  `${entry.key}`
  #set($ask = "${ask},?")
  #if($velocityCount < ${columns.size()})
    ,
  #end
#end
) 
VALUES 
(${ask.substring(1)})