INSERT INTO
`${database}`.`${table}`
(
#set($ask = "" )
#foreach($entry in $columns.entrySet())
  `${entry.key}`
  #set($ask = "${ask},?")
  #if($velocityCount < ${columns.size()})
    ,
  #end
#end
) 
VALUES 
(${ask.substring(1)})
ON DUPLICATE KEY UPDATE
#set($updateSql = "")
#foreach($entry in $columns.entrySet())
  #if(!$entry.value.isPk())
     #set($updateSql = "$updateSql`${entry.key}`=VALUES(${entry.key})")
     #if($velocityCount < ${columns.size()})
       #set($updateSql = "$updateSql,")
     #end
  #end
  #if($entry.value.isPk() && $velocityCount >= ${columns.size()} && $updateSql.length()>0)
    #set($length = ${updateSql.length()})
    #set($updateSql = "${updateSql.substring(0,$length-1)}")
  #end
#end
