SELECT * FROM
`${event.database}`.`${event.table}`
WHERE 
#foreach($name2ColumnInfo in $event.columns.entrySet())
  #if(!${name2ColumnInfo.value.newValue})
    `${name2ColumnInfo.key}` is ?
  #else
    `${name2ColumnInfo.key}` = ?
  #end
  #if($velocityCount < ${event.columns.size()})
     AND
  #end
#end