UPDATE
#if (${event.database} == "")
`${event.table}`
#else
`${event.database}`.`${event.table}`
#end
SET
#foreach($name2ColumnInfo in $event.columns.entrySet())
    `${name2ColumnInfo.key}` = ?
  #if($velocityCount < ${event.columns.size()})
     ,
  #end
#end
WHERE
#set ($keyCount = 0)
#foreach($name2ColumnInfo in $event.columns.entrySet())
    #if(${name2ColumnInfo.value.key})
        #set ($keyCount = $keyCount + 1)
        #if($keyCount > 1)
        AND
        #end
    `${name2ColumnInfo.key}` = ?
    #end
#end
