<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="syncTaskStatePublisher"
          class="com.dianping.puma.biz.monitor.SwallowEventPublisher"
          init-method="init">
        <property name="topic" value="sync_task_state" />
    </bean>


    <bean id="shardSyncTaskStatePublisher"
          class="com.dianping.puma.biz.monitor.SwallowEventPublisher"
          init-method="init">
        <property name="topic" value="sync_task_state" />
    </bean>

    <bean id="dumpTaskStatePublisher"
          class="com.dianping.puma.biz.monitor.SwallowEventPublisher"
          init-method="init">
        <property name="topic" value="sync_task_state" />
    </bean>

    <bean id="syncTaskOperationEventSubscriber"
          class="com.dianping.puma.biz.monitor.SwallowEventSubscriber"
          init-method="init">
        <property name="topic" value="sync_task_operation" />
        <property name="type" value="#{syncServerConfig.syncServerName}" />
        <property name="notifyService" ref="notifyService"/>
        <property name="clazz"
                  value="com.dianping.puma.biz.monitor.event.SyncTaskOperationEvent" />
        <property name="listeners">
            <list>
                <ref bean="syncTaskOperationReceiver"/>
            </list>
        </property>
    </bean>

    <bean id="syncTaskControllerEventSubscriber"
          class="com.dianping.puma.biz.monitor.SwallowEventSubscriber"
          init-method="init">
        <property name="topic" value="sync_task_controller" />
        <property name="type" value="#{syncServerConfig.syncServerName}" />
        <property name="notifyService" ref="notifyService"/>
        <property name="clazz"
                  value="com.dianping.puma.biz.monitor.event.SyncTaskControllerEvent" />
        <property name="listeners">
            <list>
                <ref bean="syncTaskControllerReceiver"/>
            </list>
        </property>
    </bean>

    <bean id="shardSyncTaskOperationEventSubscriber"
          class="com.dianping.puma.biz.monitor.SwallowEventSubscriber"
          init-method="init">
        <property name="topic" value="shard_sync_task_operation" />
        <property name="type" value="#{syncServerConfig.syncServerName}" />
        <property name="notifyService" ref="notifyService"/>
        <property name="clazz"
                  value="com.dianping.puma.core.monitor.event.ShardSyncTaskOperationEvent" />
        <property name="listeners">
            <list>
                <ref bean="shardSyncTaskOperationReceiver"/>
            </list>
        </property>
    </bean>

    <bean id="shardSyncTaskControllerEventSubscriber"
          class="com.dianping.puma.biz.monitor.SwallowEventSubscriber"
          init-method="init">
        <property name="topic" value="shard_sync_task_controller" />
        <property name="type" value="#{syncServerConfig.syncServerName}" />
        <property name="notifyService" ref="notifyService"/>
        <property name="clazz"
                  value="com.dianping.puma.core.monitor.event.ShardSyncTaskControllerEvent" />
        <property name="listeners">
            <list>
                <ref bean="shardSyncTaskControllerReceiver"/>
            </list>
        </property>
    </bean>

    <bean id="dumpTaskOperationEventSubscriber"
          class="com.dianping.puma.biz.monitor.SwallowEventSubscriber"
          init-method="init">
        <property name="topic" value="sync_task_operation" />
        <property name="type" value="#{syncServerConfig.syncServerName}" />
        <property name="notifyService" ref="notifyService"/>
        <property name="clazz"
                  value="com.dianping.puma.biz.monitor.event.DumpTaskOperationEvent" />
        <property name="listeners">
            <list>
                <ref bean="dumpTaskOperationReceiver"/>
            </list>
        </property>
    </bean>

</beans>