<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean name="placeholder" lazy-init="false"
		class="com.dianping.lion.client.InitializeConfig">
		<property name="propertiesPath" value="puma.syncserver.config.properties" />
	</bean>

	<bean id="syncServerConfig" class="com.dianping.puma.syncserver.config.SyncServerConfig">
		<property name="tempDir" value="${puma.syncserver.tempDir}" />
		<property name="localPort" value="${puma.syncserver.port}" />
	</bean>

	<bean id="binlogInfoHolder"
		  class="com.dianping.puma.core.holder.impl.DefaultBinlogInfoHolder"
		  init-method="init">
		<property name="baseDir" value="/data/appdatas/puma-syncserver/binlog/"/>
		<property name="bakDir" value="/data/appdatas/puma-syncserver/binlog/bak/"/>
	</bean>

</beans>