<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Puma客户端</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Puma客户端列表
            </div>

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table ng-table="tableParams"
                           class="table table-striped table-bordered table-hover" show-filter="true">

                        <tr ng-repeat="client in $data">

                            <td title="'客户端名称'" filter="{ clientName: 'text'}" class="col-lg-3">
                                <div uib-tooltip="{{client.clientName}}">
                                    {{client.clientName | truncator:30}}
                                </div>
                            </td>

                            <td title="'客户端组名'" filter="{ groupName: 'text'}" class="col-lg-2">
                                <div uib-tooltip="{{client.groupName}}">
                                    {{client.groupName | truncator:20 }}
                                </div>
                            </td>

                            <td title="'订阅库名'" filter="{ databaseName: 'text' }" class="col-lg-2">
                                <div uib-tooltip="{{client.databaseName}}">
                                    {{client.databaseName | truncator:20 }}
                                </div>
                            </td>

                            <td title="'服务器地址'" filter="{ serverAddress: 'text' }"
                                class="col-lg-2">
                                <div uib-tooltip="{{client.serverAddress}}">
                                    {{client.serverAddress | truncator:20 }}
                                </div>
                            </td>

                            <td title="'状态'" class="col-lg-1">
                                <div ng-if="client.state === 'RUNNING'">
                                    <span class="label label-success">STABLE</span>
                                </div>

                                <div ng-if="client.state === 'EXCEPTION'" uib-tooltip="{{client.message}}">
                                    <span class="label label-danger">ERROR</span>
                                </div>
                            </td>

                            <td title="'操作'" class="col-lg-2">

                                <button type="button" class="btn btn-default btn-circle btn-sm"
                                        data-toggle="modal" data-target="{{'#myModal' + $index}}">
                                    <i class="fa fa-list"></i>
                                </button>

                                <button type="button" class="btn btn-primary btn-circle btn-sm"
                                        ui-sref="dashboard.client-update({clientName: client.clientName})">
                                    <i class="fa fa-link"></i>
                                </button>

                                <button type="button" class="btn btn-success btn-circle btn-sm">
                                    <i class="fa fa-times"></i>
                                </button>

                                <div class="modal fade" id="{{'myModal' + $index}}" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">{{client.clientName + '详情'}}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    客户端名称:&nbsp {{client.clientName}}
                                                </div>
                                                <div>
                                                    客户端组名:&nbsp {{client.groupname}}
                                                </div>
                                                <div>
                                                    客户端库名:&nbsp {{client.databaseName}}
                                                </div>
                                                <div>
                                                    客户端表名:&nbsp {{client.tableRegex | truncator:50 }}
                                                </div>
                                                <div>
                                                    服务器地址:&nbsp {{client.serverAddress}}
                                                </div>
                                                <div>
                                                    客户端地址:&nbsp {{client.clientAddress}}
                                                </div>
                                                <div>
                                                    客户端确认:&nbsp {{client.timestamp | timestamp2date }}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
