<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/task   
    http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <!-- annotation scan --><!--
    <context:component-scan base-package="com.dianping.puma.core"/>

    <bean id="mongoClient" class="com.dianping.puma.core.dao.morphia.MongoClient">
    </bean>
	
    --><!--<bean id="mongoClient" class="com.dianping.puma.core.sync.dao.MongoClient">
    </bean>  --><!--

    <bean id="seqGeneratorService"
        class="com.dianping.puma.core.dao.morphia.MongoSeqGeneratorServiceImpl">
        <property name="mongoClient">
            <ref bean="mongoClient" />
        </property>
        <property name="dbName" value="puma_admin" />
        <property name="collName" value="seq" />
    </bean>

--></beans>