<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.PumaTaskDao">

    <resultMap id="binlogInfo" type="com.dianping.puma.core.model.BinlogInfo" autoMapping="true"/>

    <resultMap id="entity" type="PumaTaskEntity" autoMapping="true">
        <association resultMap="binlogInfo" property="binlogInfo" columnPrefix="BinlogInfo_"/>
    </resultMap>

    <select id="findById" resultMap="entity">
        SELECT * FROM PumaTask where id = #{id}
    </select>

    <select id="findAll" resultMap="entity">
        SELECT * FROM PumaTask
    </select>

    <select id="findByName" resultMap="entity">
        SELECT * FROM PumaTask where name = #{name}
    </select>

    <select id="findByPage" resultMap="entity">
        SELECT * FROM PumaTask limit #{offset},#{limit}
    </select>

    <select id="findBySrcDbName" resultMap="entity">
        SELECT p.* FROM PumaTask p
        left join PumaTaskDb td on tb.taskId = p.id
        left join SrcDb d on tb.dbId = d.id
        where d.Name = #{name}
    </select>

    <select id="findByPumaServerName" resultMap="entity">
        SELECT p.* FROM PumaTask p
        left join PumaTaskServer ts on ts.taskId = p.id
        left join PumaServer s on ts.serverId = s.id
        where s.Name = #{name}
    </select>

    <select id="count" resultType="long">
        select count(*) from PumaTask
    </select>

    <update id="update" parameterType="PumaTaskEntity">
        update PumaTask
        set
        Name=#{name},
        PreservedDay=#{preservedDay},
        BinlogInfo_ServerId=#{binlogInfo.serverId},
        BinlogInfo_BinlogFile=#{binlogInfo.binlogFile},
        BinlogInfo_BinlogPosition=#{binlogInfo.binlogPosition},
        ActionController=#{actionController},
        UpdateTime = #{updateTime}
        where
        Id = #{id}
    </update>

    <insert id="insert" parameterType="PumaTaskEntity" useGeneratedKeys="true" keyProperty="id">
        insert into PumaTask
        (
        Name,
        PreservedDay,
        BinlogInfo_ServerId,
        BinlogInfo_BinlogFile,
        BinlogInfo_BinlogPosition,
        ActionController,
        UpdateTime
        )
        values
        (
        #{name},
        #{preservedDay},
        #{binlogInfo.serverId},
        #{binlogInfo.binlogFile},
        #{binlogInfo.binlogPosition},
        #{actionController},
        #{updateTime}
        )
    </insert>

    <delete id="delete">
        delete from PumaTask where id = #{id}
    </delete>

    <delete id="deleteByName">
        delete from PumaTask where name = #{name}
    </delete>
</mapper>