<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.PumaTaskDbDao">

    <select id="findByTaskId" parameterType="map" resultType="PumaTaskDbEntity">
        SELECT * FROM PumaTaskDb where taskId = #{taskId}
    </select>

    <delete id="deleteByTaskId">
        delete from PumaTaskDb
        where
        taskId = #{taskId}
    </delete>

    <insert id="insert" parameterType="PumaTaskDbEntity" useGeneratedKeys="true" keyProperty="id">
        insert into PumaTaskDb
        (
        TaskId,
        DbId
        )
        values
        (
        #{taskId},
        #{dbId}
        )
    </insert>
</mapper>