<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.PumaTaskServerDao">

    <select id="findByTaskId" resultType="PumaTaskServerEntity">
        SELECT * FROM PumaTaskServer WHERE taskId = #{taskId}
    </select>

    <insert id="insert" parameterType="PumaTaskServerEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO PumaTaskServer
        (
        taskId,
        serverId,
        actionController
        )
        VALUES
        (
        #{taskId},
        #{serverId},
        #{actionController}
        )
    </insert>

    <delete id="deleteByTaskId">
        DELETE FROM PumaTaskServer WHERE taskId = #{taskId}
    </delete>

</mapper>