<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.PumaTaskTargetDao">

    <select id="findByTaskId" resultType="PumaTaskTargetEntity">
        SELECT * FROM PumaTaskTarget WHERE `taskId` = #{taskId}
    </select>

    <select id="findByDatabaseAndTable" resultType="PumaTaskTargetEntity">
        SELECT * FROM PumaTaskTarget WHERE `database` = #{database} AND `table` = #{table}
    </select>

    <update id="update" parameterType="PumaTaskTargetEntity">
        UPDATE PumaTaskTarget
        SET
        `taskId` = #{taskId},
        `database` = #{database},
        `table` = #{table}
        WHERE
        Id = #{id}
    </update>

    <insert id="insert" parameterType="PumaTaskTargetEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO PumaTaskTarget
        (
        `taskId`,
        `database`,
        `table`
        )
        VALUES
        (
        #{taskId},
        #{database},
        #{table}
        )
    </insert>

    <delete id="deleteByTaskId">
        DELETE FROM PumaTaskTarget WHERE `taskId` = #{taskId}
    </delete>
</mapper>