<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.SrcDbDao">

    <select id="findById" resultType="SrcDbEntity">
        SELECT * FROM SrcDb where id = #{id}
    </select>

   <select id="findByJdbcRef" resultType="SrcDbEntity">
       SELECT * FROM SrcDb WHERE jdbcRef = #{jdbcRef}
   </select>

    <select id="findByName" resultType="SrcDbEntity">
        SELECT * FROM SrcDb WHERE name = #{name}
    </select>

    <select id="findAll" resultType="SrcDbEntity">
        SELECT * FROM SrcDb
    </select>

    <select id="findByPage" resultType="SrcDbEntity">
        SELECT * FROM SrcDb limit #{offset},#{limit}
    </select>

    <select id="count" resultType="long">
        SELECT count(*) FROM SrcDb
    </select>

    <update id="update" parameterType="SrcDbEntity">
        UPDATE SrcDb
        SET
        jdbcRef = #{jdbcRef}
        host = #{host},
        port = #{port},
        username = #{username},
        password = #{password},
        serverId = #{serverId},
        preferred = #{preferred}
        WHERE
        id = #{id}
    </update>

    <insert id="insert" parameterType="SrcDbEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SrcDb
        (
        jdbcRef,
        name,
        host,
        port,
        username,
        password,
        serverId,
        preferred
        )
        VALUES
        (
        #{jdbcRef},
        #{name},
        #{host},
        #{port},
        #{username},
        #{password},
        #{serverId},
        #{preferred}
        )
    </insert>

    <delete id="delete">
        delete from SrcDb where id = #{id}
    </delete>

    <delete id="deleteByName">
        delete from SrcDb where name = #{name}
    </delete>
</mapper>