<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.SrcDbDao">

    <select id="findById" resultType="SrcDbEntity">
        SELECT * FROM SrcDb where id = #{id}
    </select>

    <select id="findByIds" resultType="SrcDbEntity">
        SELECT * FROM SrcDb where id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByName" resultType="SrcDbEntity">
        SELECT * FROM SrcDb where name = #{name}
    </select>

    <select id="findAll" resultType="SrcDbEntity">
        SELECT * FROM SrcDb
    </select>

    <select id="count" resultType="long">
        SELECT count(*) FROM SrcDb
    </select>

    <select id="findByPage" resultType="SrcDbEntity">
        SELECT * FROM SrcDb limit #{offset},#{limit}
    </select>

    <update id="update" parameterType="SrcDbEntity">
        update SrcDb
        set
        Host = #{host},
        Port = #{port},
        Username = #{username},
        Password = #{password},
        ServerId = #{serverId}
        where
        id = #{id}
    </update>

    <insert id="insert" parameterType="SrcDbEntity" useGeneratedKeys="true" keyProperty="id">
        insert into SrcDb
        (
        Host,
        Port,
        Username,
        Password,
        ServerId
        )
        values
        (
        #{host},
        #{port},
        #{username},
        #{password},
        #{serverId}
        )
    </insert>

    <delete id="delete">
        delete from SrcDb where id = #{id}
    </delete>

    <delete id="deleteByName">
        delete from SrcDb where name = #{name}
    </delete>
</mapper>