<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.SyncServerDao">

	<select id="find" resultType="SyncServerEntity">
		SELECT * FROM SyncServer WHERE id = #{id}
	</select>

	<insert id="insert" parameterType="SyncServerEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO SyncServer
		(
		host,
		loadBalance
		)
		VALUES
		(
		#{host},
		#{loadBalance}
		)
	</insert>

	<update id="update" parameterType="SyncServerEntity">
		UPDATE SyncServer
		SET
		host = #{host},
		loadBalance = #{loadBalance}
		WHERE
		id = #{id}
	</update>

	<delete id="delete" parameterType="SyncServerEntity">
		DELETE FROM SyncServer WHERE id = #{id}
	</delete>

</mapper>