<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.ClientAlarmDataDao">

    <insert id="insert" parameterType="ClientAlarmDataEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        ClientAlarmData
        (
        ClientName,
        PullTime,
        PushTime
        )
        VALUES
        (
        #{clientName},
        #{pullTime},
        #{pushTime}
        )
    </insert>

    <update id="updatePullTime" parameterType="ClientAlarmDataEntity">
        UPDATE
        ClientAlarmData
        SET
        PullTime = #{pullTime}
        WHERE
        ClientName = #{clientName}
    </update>

    <update id="updatePushTime" parameterType="ClientAlarmDataEntity">
        UPDATE
        ClientAlarmData
        SET
        PushTime = #{pushTime}
        WHERE
        ClientName = #{clientName}
    </update>

    <insert id="replacePullTime" parameterType="ClientAlarmDataEntity">
        INSERT INTO
        ClientAlarmData
        (
        ClientName,
        PullTime
        )
        VALUES
        (
        #{clientName},
        #{pullTime}
        )
        ON DUPLICATE KEY UPDATE
        ClientName = #{clientName},
        PullTime = #{pullTime}
    </insert>

    <insert id="replacePushTime" parameterType="ClientAlarmDataEntity">
        INSERT INTO
        ClientAlarmData
        (
        ClientName,
        PushTime
        )
        VALUES
        (
        #{clientName},
        #{pushTime}
        )
        ON DUPLICATE KEY UPDATE
        ClientName = #{clientName},
        PushTime = #{pushTime}
    </insert>

    <delete id="delete">
        DELETE FROM
        ClientAlarmData
        WHERE
        ClientName = #{clientName}
    </delete>

</mapper>