<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.ClientAlarmBenchmarkDao">

    <select id="find" resultType="ClientAlarmBenchmarkEntity">
        SELECT
        *
        FROM
        ClientAlarmBenchmark
        WHERE
        ClientName = #{clientName}
    </select>

    <insert id="insert" parameterType="ClientAlarmBenchmarkEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        ClientAlarmBenchmark
        (
        ClientName,
        PullTimeDelayAlarm,
        MinPullTimeDelayInSecond,
        MaxPullTimeDelayInSecond,
        PushTimeDelayAlarm,
        MinPushTimeDelayInSecond,
        MaxPushTimeDelayInSecond
        )
        VALUES
        (
        #{clientName},
        #{pullTimeDelayAlarm},
        #{minPullTimeDelayInSecond},
        #{maxPullTimeDelayInSecond},
        #{pushTimeDelayAlarm},
        #{minPushTimeDelayInSecond},
        #{maxPushTimeDelayInSecond}
        )
    </insert>

    <update id="update" parameterType="ClientAlarmBenchmarkEntity">
        UPDATE
        ClientAlarmBenchmark
        SET
        PullTimeDelayAlarm = #{pullTimeDelayAlarm},
        MinPullTimeDelayInSecond = #{minPullTimeDelayInSecond},
        MaxPullTimeDelayInSecond = #{maxPullTimeDelayInSecond},
        PushTimeDelayAlarm = #{pushTimeDelayAlarm},
        MinPushTimeDelayInSecond = #{minPushTimeDelayInSecond},
        MaxPushTimeDelayInSecond = #{maxPushTimeDelayInSecond}
        WHERE
        ClientName = #{clientName}
    </update>

    <update id="updatePullTimeDelay" parameterType="ClientAlarmBenchmarkEntity">
        UPDATE
        ClientAlarmBenchmark
        SET
        PullTimeDelayAlarm = #{pullTimeDelayAlarm},
        MinPullTimeDelayInSecond = #{minPullTimeDelayInSecond},
        MaxPullTimeDelayInSecond = #{maxPullTimeDelayInSecond}
        WHERE
        ClientName = #{clientName}
    </update>

    <update id="updatePushTimeDelay" parameterType="ClientAlarmBenchmarkEntity">
        UPDATE
        ClientAlarmBenchmark
        SET
        PushTimeDelayAlarm = #{pushTimeDelayAlarm},
        MinPushTimeDelayInSecond = #{minPushTimeDelayInSecond},
        MaxPushTimeDelayInSecond = #{maxPushTimeDelayInSecond}
        WHERE
        ClientName = #{clientName}
    </update>

    <delete id="delete">
        DELETE FROM
        ClientAlarmBenchmark
        WHERE
        ClientName = #{clientName}
    </delete>

</mapper>