<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.ClientAdditionDao">

    <insert id="insert" parameterType="ClientAdditionEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        ClientAddition
        (
        ClientName,
        GroupName
        )
        VALUES
        (
        #{clientName},
        #{groupName}
        )
    </insert>

    <update id="update" parameterType="ClientAdditionEntity">
        UPDATE
        ClientAddition
        SET
        GroupName = #{groupName}
        WHERE
        ClientName = #{clientName}
    </update>

    <delete id="delete">
        DELETE FROM
        ClientAddition
        WHERE
        ClientName = #{clientName}
    </delete>

</mapper>