<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.SyncTaskMappingDao">

	<select id="findByTaskId" resultType="SyncTaskMappingEntity">
		SELECT * FROM SyncTaskMapping WHERE taskId = #{taskId}
	</select>

	<insert id="insert" parameterType="SyncTaskMappingEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO SyncTaskMapping
		(
		taskId,
		mappingId
		)
		VALUES
		(
		#{taskId},
		#{mappingId}
		)
	</insert>

	<update id="update" parameterType="SyncTaskMappingEntity">
		UPDATE SyncTaskMapping
		SET
		taskId = #{taskId},
		mappingId = #{mappingId}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="SyncTaskMappingEntity">
		DELETE FROM SyncTaskMapping WHERE id = #{id}
	</delete>

</mapper>