<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try {
			ace.settings.check('breadcrumbs', 'fixed')
		} catch (e) {
		}
	</script>

	<ul class="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">主页</a>
		</li>

		<li class="active">数据处理任务编辑</li>
	</ul>
	<!-- /.breadcrumb -->
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">

	<!-- /section:settings.box -->
	<div class="page-content-area">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12" ng-app="formApp" ng-controller="formCtrl"
						ng-init="backUrl = '${rc.contextPath}/puma-task';initPumaTask('${rc.contextPath}/puma-task/find/${id}',${id})">
						<form class="form-horizontal" role="form">
							<div class="puma-form-group-start"></div>
							<!-- #section:elements.form -->
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1">源数据库</label>

								<div class="col-sm-10">
									<select id="form-field-1" placeholder="源数据库"
										class="puma-form-select col-xs-10 col-sm-5"
										ng-model="entity.srcDBInstanceName"
										ng-disabled="entity.disabled" ng-change="change()"
										ng-options="o.name as o.name for o in srcDBInstanceEntities">
										<option value="">请选择源数据库</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 数据处理服务器 </label>

								<div class="col-sm-10">
									<select id="form-field-1" placeholder="数据处理服务器"
										class="col-xs-10 col-sm-5 puma-form-select"
										ng-model="entity.pumaServerName" ng-disabled="entity.disabled"
										ng-change="change()"
										ng-options="o.name as o.name for o in pumaServerEntities">
										<option value="">请选择数据处理服务器</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 任务名称 </label>

								<div class="col-sm-10">
									<input id="form-field-1" type="text" class="col-xs-10 col-sm-5"
										ng-model="entity.name" ng-readonly="entity.disabled"
										placeholder="任务名称" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 数据库日志 </label>

								<div class="col-sm-10">
									<input id="form-field-1" class="col-xs-10 col-sm-3" type="text"
										ng-model="entity.binlogFile" placeholder="文件名" />
									<input id="
										binlogPosition" name="binlogPosition"
										class="col-xs-10 col-sm-2" type="text"
										ng-model="entity.binlogPosition" placeholder="位置" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 存储天数 </label>

								<div class="col-sm-10">
									<input id="form-field-1" type="text" placeholder="存储天数"
										class="col-xs-10 col-sm-5" ng-model="entity.preservedDay" />
								</div>
							</div>
							<div ng-repeat="item in entity.databases">
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right"
										for="form-field-1"> 处理数据库 </label>

									<div class="col-sm-10">
										<input id="form-field-1" placeholder="处理数据库"
											class="col-xs-10 col-sm-5" type="text"
											ng-model="item.database" />
										&nbsp;&nbsp;&nbsp; <a class="red" href="javascript:void(0)" ng-click="addMark(entity.databases)">
											<i class="ace-icon fa fa-plus-circle bigger-150"></i>
										</a> &nbsp;&nbsp;&nbsp; <a class="red" href="javascript:void(0)" ng-click="removeMark(entity.databases,$index)">
											<i class="ace-icon fa fa-trash-o bigger-150"></i>
										</a>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right"
										for="form-field-1"> 数据库相关表 </label>

									<div class="col-sm-10">

										<textarea id="form-field-1"
											class="col-xs-10 col-sm-5 puma-form-textarea" rows="4"
											type="text" ng-model="item.tables"
											placeholder='数据库相关表 填写格式 table&table&table'></textarea>

									</div>
								</div>

							</div>
							
							<div class="clearfix form-actions puma-form-actions">
								<div class="col-md-offset-2 col-md-10">
									<button class="btn btn-info" type="button" ng-click="submit()">
										<i class="ace-icon fa fa-check bigger-110""></i> 提交
									</button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn" type="button">
										<i class="ace-icon fa fa-undo bigger-110"></i> 重置
									</button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-info" type="button" ng-click="goBack()">
										<i class="ace-icon fa fa-backward bigger-110"></i> 返回
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>


			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
</div>
<!-- /.page-content -->
