<!DOCTYPE html>
<html lang="zh-cn">
<head>#parse("common/header.htm")
</head>
<body class="home">
   #parse("common/banner.htm") $screen_content
   #parse("common/simplefooter.htm")
   <!-- 错误消息弹出框 -->
   <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
      tabindex="-1" class="modal hide fade" id="errorMsg"
      style="display: none;">
      <div class="modal-header">
         <button aria-hidden="true" data-dismiss="modal" class="close"
            type="button">×</button>
         <h3></h3>
      </div>
      <div class="modal-body">
         <p style="text-align: center"></p>
      </div>
      <div class="modal-footer">
         <button data-dismiss="modal" class="btn btn-info">关闭</button>
      </div>
   </div>
   <script type="text/javascript"
      src="${rc.contextPath}/style/bs/jquery-2.1.3.js"></script>
   <script type="text/javascript"
      src="${rc.contextPath}/style/date.js"></script>
   <script type="text/javascript"
      src="${rc.contextPath}/style/bs/js/bootstrap.js"></script>
   <script src="${rc.contextPath}/style/ace-src-min/ace.js"
      type="text/javascript"></script>
   <script type="text/javascript"
      src="${rc.contextPath}/style/pumadmin.js?v=3"></script>
   <!--[if IE 6]>
   <script type="text/javascript"
      src="${rc.contextPath}/style/bs/js/ie6.min.js"></script>
   <![endif]-->
   <!-- HTML5 shim, for IE6-8 support of HTML elements -->
   <!--[if lt IE 9]>
    <script src="${rc.contextPath}/style/bs/js/html5.js"></script>
   <![endif]-->
   <script type="text/javascript">
				$(document).ready(function() {
					$('.carousel').carousel({
						interval : false
					})
					$!{initJs}
				});
			</script>
</body>
</html>