<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th class="col-sm-4">组名</th>
        <th class="col-sm-2">客户端总数</th>
        <th class="col-sm-2">警告客户端总数</th>
        <th class="col-sm-2">错误客户端总数</th>
        <th class="col-sm-2">QPS</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="groupClient in groupClients">
        <td>{{groupClient.groupName}}</td>
        <td>
            <a data-html="true"
               data-toggle="popover"
               data-placement="top"
               data-content="{{groupClient.clientNames}}">{{groupClient.clientNumber}}</a>
        </td>
        <td>{{groupClient.warningClientNumber}}</td>
        <td>{{groupClient.errorClientNumber}}</td>
        <td>{{groupClient.qpsSum}}</td>
    </tr>
    </tbody>
</table>