<div>

    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Puma Check Task Create</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-content-area">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header widget-header-small">
                                    <h5 class="widget-title smaller">Base Info</h5>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main padding-6">
                                        <div class="tab-content">
                                            <div onload="item = model.baseInfo"
                                                 ng-if="true"
                                                 ng-include="templateBase + baseTemplate + '.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header widget-header-small">
                                    <h5 class="widget-title smaller">Source DataSource Builder</h5>

                                    <div class="widget-toolbar no-border">
                                        <ul class="nav nav-tabs">
                                            <li ng-class="{'active':model.sourceDsBuilderProp.className == 'GroupDataSourceBuilder'}">
                                                <a data-toggle="tab" href=""
                                                   ng-click="model.sourceDsBuilderProp = {'className' : 'GroupDataSourceBuilder'}">GroupDataSource</a>
                                            </li>
                                            <li ng-class="{'active':model.sourceDsBuilderProp.className == 'ShardDataSourceBuilder'}">
                                                <a data-toggle="tab" href=""
                                                   ng-click="model.sourceDsBuilderProp = {'className' : 'ShardDataSourceBuilder'}">ShardDataSource</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main padding-6">
                                        <div class="tab-content">
                                            <div onload="item = model.sourceDsBuilderProp"
                                                 ng-if="true"
                                                 ng-include="templateBase + model.sourceDsBuilderProp.className + '.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header widget-header-small">
                                    <h5 class="widget-title smaller">Source Fetcher</h5>

                                    <div class="widget-toolbar no-border">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-toggle="tab" href=""
                                                   ng-click="model.sourceFetcherProp = {'className' : 'UpdateTimeAndIdSourceFetcher'}">UpdateTimeAndIdSourceFetcher</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main padding-6">
                                        <div class="tab-content">
                                            <div onload="item = model.sourceFetcherProp"
                                                 ng-if="true"
                                                 ng-include="templateBase + model.sourceFetcherProp.className + '.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header widget-header-small">
                                    <h5 class="widget-title smaller">Target DataSource Builder</h5>

                                    <div class="widget-toolbar no-border">
                                        <ul class="nav nav-tabs">
                                            <li ng-class="{'active':model.targetDsBuilderProp.className == 'GroupDataSourceBuilder'}">
                                                <a data-toggle="tab" href=""
                                                   ng-click="model.targetDsBuilderProp = {'className' : 'GroupDataSourceBuilder'}">GroupDataSource</a>
                                            </li>
                                            <li ng-class="{'active':model.targetDsBuilderProp.className == 'ShardDataSourceBuilder'}">
                                                <a data-toggle="tab" href=""
                                                   ng-click="model.targetDsBuilderProp = {'className' : 'ShardDataSourceBuilder'}">ShardDataSource</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main padding-6">
                                        <div class="tab-content">
                                            <div onload="item = model.targetDsBuilderProp"
                                                 ng-if="true"
                                                 ng-include="templateBase + model.targetDsBuilderProp.className + '.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header widget-header-small">
                                    <h5 class="widget-title smaller">Target Fetcher</h5>

                                    <div class="widget-toolbar no-border">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-toggle="tab" href=""
                                                   ng-click="model.targetFetcherProp = {'className' : 'SingleLineTargetFetcher'}">SingleLineTargetFetcher</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main padding-6">
                                        <div class="tab-content">
                                            <div onload="item = model.targetFetcherProp"
                                                 ng-if="true"
                                                 ng-include="templateBase + model.targetFetcherProp.className + '.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header widget-header-small">
                                    <h5 class="widget-title smaller">Comparison</h5>

                                    <div class="widget-toolbar no-border">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-toggle="tab" href=""
                                                   ng-click="model.comparisonProp = {'className' : 'FullComparison'}">FullComparison</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main padding-6">
                                        <div class="tab-content">
                                            <div onload="item = model.comparisonProp"
                                                 ng-if="true"
                                                 ng-include="templateBase + model.comparisonProp.className + '.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header widget-header-small">
                                    <h5 class="widget-title smaller">Mapper</h5>

                                    <div class="widget-toolbar no-border">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-toggle="tab" href=""
                                                   ng-click="model.mapperProp = {'className' : 'DefaultRowMapper'}">DefaultRowMapper</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main padding-6">
                                        <div class="tab-content">
                                            <div onload="item = model.mapperProp"
                                                 ng-if="true"
                                                 ng-include="templateBase + model.mapperProp.className + '.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <span class="center btn btn-success btn-sm" ng-click="create()">Save</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

