<div ng-controller="pumaCheckController">

    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Puma Check Task</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-content-area">
            <div class="row">
                <div class="col-sm-12">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4 class="widget-title">Search</h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">
                                <form class="form-inline">
                                    <input class="form-control" type="text" placeholder="Task Name"
                                           ng-model="queryModel.taskName"/>
                                    <input class="form-control" type="text" placeholder="Task Group Name"
                                           ng-model="queryModel.taskGroupName"/>
                                    <select class="form-control" ng-model="queryModel.running">
                                        <option value="">==Running==</option>
                                        <option value="true">Running</option>
                                        <option value="false">Not Running</option>
                                    </select>
                                    <select class="form-control" ng-model="queryModel.success">
                                        <option value="">==Status==</option>
                                        <option value="true">Success</option>
                                        <option value="false">Failed</option>
                                    </select>
                                    <select class="form-control" ng-model="queryModel.diffs">
                                        <option value="">==Diffs==</option>
                                        <option value="true">Has Diffs</option>
                                    </select>
                                    <button type="button" class="btn btn-info btn-sm" ng-click="query()">
                                        Search
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm" ng-click="reset()">
                                        Reset
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table id="simple-table" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th>Name</th>
                            <th>Cursor</th>
                            <th>OwnerHost</th>
                            <th>Status</th>
                            <th>Diffs</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="item in list">
                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td><span data-html="true" data-toggle="popover" data-placement="top"
                                      data-content="TaskName: {{item.taskName}}<br/>TaskGroupName: {{item.taskGroupName}}">{{item.taskName}}</span>
                            </td>
                            <td>{{item.cursor}}</td>
                            <td>{{item.ownerHost}}</td>
                            <td>
                                <span ng-if="item.success" class="label label-success">Running</span>
                                <span ng-if="!item.success" data-html="true" data-toggle="popover" data-placement="top"
                                      data-content="{{item.message}}" class="label label-danger">Error</span>
                            </td>
                            <td><span ng-class="{'badge':true,'badge-danger': item.diffs}">{{item.diffs}}</span></td>
                            <td>
                                <button class="btn btn-minier btn-success" title="Edit"><i
                                        class="ace-icon glyphicon glyphicon-pencil icon-only"></i></button>
                                <button ng-click="remove(item.taskName)" class="btn btn-minier btn-danger" title="Remove"><i
                                        class="ace-icon fa fa-trash-o icon-only"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
