DELETE FROM
`${database}`.`${table}`
WHERE 
#foreach(${column} in ${whereColumns})
  (`${column}` = ? OR (`${column}` IS NULL AND ? IS NULL))
  #if($velocityCount < ${whereColumns.size()})
     AND
  #end
#end