
<script type="text/javascript">
	try {
		ace.settings.check('sidebar', 'fixed')
	} catch (e) {
	}
</script>

<div class="sidebar-shortcuts" id="sidebar-shortcuts">
	<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
		<button class="btn btn-success">
			<i class="ace-icon fa fa-signal"></i>
		</button>

		<button class="btn btn-info">
			<i class="ace-icon fa fa-pencil"></i>
		</button>

		<!-- #section:basics/sidebar.layout.shortcuts -->
		<button class="btn btn-warning">
			<i class="ace-icon fa fa-users"></i>
		</button>

		<button class="btn btn-danger">
			<i class="ace-icon fa fa-cogs"></i>
		</button>

		<!-- /section:basics/sidebar.layout.shortcuts -->
	</div>

	<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
		<span class="btn btn-success"></span> <span class="btn btn-info"></span>

		<span class="btn btn-warning"></span> <span class="btn btn-danger"></span>
	</div>
</div>
<!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
	<li class=""><a href="${rc.contextPath}/puma-monitor/"> <i
			class="menu-icon fa fa-desktop"></i> <span class="menu-text">
				监控信息 </span>
	</a> <b class="arrow"></b></li>

	<li class=""><a href="${rc.contextPath}/src-db-instance/"> <i
			class="menu-icon fa fa-list"></i> <span class="menu-text">
				源数据实例配置 </span>
	</a> <b class="arrow"></b></li>

	<li class=""><a href="${rc.contextPath}/puma-server/"> <i
			class="menu-icon fa fa-pencil-square-o"></i> <span class="menu-text">
				数据处理服务器配置 </span>

	</a> <b class="arrow"></b></li>

	<li class=""><a href="${rc.contextPath}/puma-task/"> <i
			class="menu-icon fa fa-list-alt"></i> <span class="menu-text">
				数据处理任务 </span>
	</a> <b class="arrow"></b></li>

	<li class=""><a href="${rc.contextPath}/dst-db-instance/"> <i
			class="menu-icon fa fa-picture-o"></i> <span class="menu-text">
				目标数据实例配置 </span>
	</a> <b class="arrow"></b></li>

	<li class=""><a href="${rc.contextPath}/sync-server/"> <i
			class="menu-icon fa fa-tag"></i> <span class="menu-text">
				数据同步服务器配置 </span>

	</a> <b class="arrow"></b></li>

	<li class=""><a href="${rc.contextPath}/sync-task/"> <i
			class="menu-icon fa fa-calendar"></i> <span class="menu-text">
				数据同步任务 </span>
	</a> <b class="arrow"></b></li>
</ul>
<!-- /.nav-list -->
<!-- #section:basics/sidebar.layout.minimize -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
	<i class="ace-icon fa fa-angle-double-left"
	   data-icon1="ace-icon fa fa-angle-double-left"
	   data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<!-- /section:basics/sidebar.layout.minimize -->
<script type="text/javascript">
	try {
		//ace.settings.check('sidebar', 'collapsed')
	} catch (e) {
	}
</script>


<!-- /section:basics/sidebar -->
