<div class="container"
   style="margin: 0 auto; width: 100%; margin-bottom: 50px; height: 650px;">
   <div>
      <p class="legend">所有同步</p>
      <div id="container" style="height: 550px;">
         <div id="resultDiv" style="height: 400px; overflow-y: auto;">
            <table class="table table-hover table-striped">
               <thead>
                  <tr>
                     <th>源数据库</th>
                     <th>目标数据库</th>
                     <th>SyncServer名称</th>
                     <th>状态</th>
                     <th>操作</th>
                  </tr>
               </thead>
               <tbody id="resultTable">
                  #foreach($syncTask in $syncTasks)
                  <tr>
                     <td>$syncTask.srcMysqlName</td>
                     <td>$syncTask.destMysqlName</td>
                     <td>$syncTask.syncServerName</td>
                     <td statusOfId="$syncTask.id"></td>
                     <td><a refresh="" href="javascript:;"
                        onclick="refreshStatus(this);"
                        taskId="$syncTask.id" style="margin-right: 10px">刷新状态</a><a
                        href="${rc.contextPath}/modify/$syncTask.id">修改</a></td>
                  </tr>
                  #end
               </tbody>
            </table>
            #if(${syncTasks.size()} == 0)
            <div id="noResultDiv" class="alert alert-warn"
               style="text-align: center;">
               <br>
               <p>
                  <i class="icon-warning-sign"></i> 您尚未添加任何同步，请点击左边菜单的<span
                     style="color: red">“创建同步任务”</span>的按钮进行添加。
               </p>
               <br>
            </div>
            #end
         </div>
         #if(!$pageNum) #set($pageNum=1) #end #set($nextPage = $pageNum
         + 1) #set($prePage = $pageNum - 1)
         <ul class="pager">
            #if($prePage >= 1)
            <li id="prePage"><a
               href="${rc.contextPath}/modify/p/${prePage}">&larr;
                  上页</a></li> #else
            <li class="disabled" id="prePage"><a
               href="javascript:;">&larr; 上页</a></li> #end
            #if(${syncTasks.size()} == 0)
            <li class="disabled" id="nextPage"><a
               href="javascript:;">下页 &rarr;</a></li> #else
            <li id="nextPage"><a
               href="${rc.contextPath}/modify/p/${nextPage}">下页
                  &rarr;</a></li> #end

         </ul>
      </div>
   </div>
</div>
<script>
	function refreshStatus(td) {
		var param = new Object();
		var taskId = $(td).attr("taskId");
		param.taskId = taskId;
		$("td[statusOfId='" + taskId + "']").text("");
		var url = window.contextpath + '/created/status';
		$.ajax({
			type : 'POST',
			url : url,
			data : param,
			dataType : "json",
			success : refreshStatusDone(taskId),
			error : pumadmin.httpError
		});
	}
	function refreshStatusDone(id) {
		return function(data) {
			if (data.success == false) {
				pumadmin.appError("错误信息", data.errorMsg);
			} else {
				var status = data.status;
				if (status && status.taskStatus) {
					$("td[statusOfId='" + id + "']").text(
							status.taskStatus);
				} else {
					$("td[statusOfId='" + id + "']").text("无状态(可能不在运行)");
				}
			}
		}
	}
	function init() {
		var trs = $("a[refresh]");
		$.each(trs, function(i, el) {
			$(el).click();
		});
	}
</script>
#parse("main/modify/initJs.htm")
