<div class="container"
   style="margin: 0 auto; width: 100%; margin-bottom: 50px; height: 1250px;">
   <ul id="stepsBreak" class="breadcrumb">
      <li class="step_active">第1步: 修改 <span class="divider">&gt;</span></li>
      <li class="step_undo">第2步: mysqldump <span class="divider">&gt;</span></li>
      <li class="step_undo">第3步: 暂停与追赶 <span class="divider">&gt;</span></li>
      <li class="step_undo">第4步: 重启同步</li>
   </ul>
   <div id="stepsCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
         <div class="active item">#parse("main/modify/step1.htm")</div>
         <div class="item">#parse("main/modify/step2.htm")</div>
      </div>
   </div>
</div>
