<style>

#form input{
  margin-left:16px;
}
#form select{
  margin-left:16px;
}
#form span.uneditable-input{
  margin-left:16px;
}
</style>
<div>
   <ul id="stepsBreak" class="breadcrumb">
      <li class="step_done">第1步: 修改 <span class="divider">&gt;</span></li>
      <li class="step_done">第2步: mysqldump <span class="divider">&gt;</span></li>
      <li class="step_active">第3步: 暂停与追赶 <span class="divider">&gt;</span></li>
      <li class="step_undo">第4步: 重启同步</li>
   </ul>
   <a style="float: right; margin-right: 20px;" type="button"
      href="${rc.contextPath}/modify/action/${id}/step2" class="btn">上一步</a>
   <p class="legend">创建追赶任务</p>
   <div id="saveSyncTaskError" style="margin-top: 20px; display: none;"
      class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>
         创建失败！详细原因：<span id="saveSyncTaskErrorCause"></span>
      </p>
   </div>
   <div id="saveSyncTaskSuccess"
      style="margin-top: 20px; display: none;"
      class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      创建任务信息成功！
   </div>
   <h5 style="">请为追赶任务填写信息</h5>
   <div
      style="padding: 10px 10px 0px 10px; background-color: white; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px 4px 4px 4px;">
      <form id="form" method="post"
         onsubmit="createSyncAction(this);return false;"
         action="${rc.contextPath}/create/createSyncAction">
         <div class="container-fluid">
            <div class="row-fluid">
               <div  class="span5">
                   <label>binlog文件：</label><input type="text"
                     name="binlogFile" value="$!{binlogInfo.binlogFile}"><label>
                     binlog位置：</label><input type="text" name="binlogPosition"
                     value="$!{binlogInfo.binlogPosition}">
               </div>
               <div class="span5">
                  <label>pumaClientName：</label><input type="text"
                     name="pumaClientName"> <label>serverId：</label><input
                     type="text" name="serverId"
                     value="$!srcMysqlHost.serverId"> <label>ddl：</label><input
                     type="text" name="ddl" placeholder="可选，默认为true">
               </div>
               <button id="createSyncTaskButton"
                  style="float: right; margin-right: 20px;"
                  type="submit" class="btn btn-success">创建任务</button>
            </div>
         </div>
      </form>
   </div>
</div>
<script>
	function createSyncAction(form) {
		$('#saveSyncTaskError').hide();
		$.ajax({
			type : $(form).attr('method'),
			url : $(form).attr('action'),
			data : $(form).serialize(),
			dataType : "json",
			success : createSyncActionDone,
			error : pumadmin.httpError
		});
		return false;
	}
	function createSyncActionDone(data) {
		if (data.success == false) {
			//pumadmin.appError("错误信息", data.errorMsg);
			$("#saveSyncTaskErrorCause").text(data.errorMsg);
			$('#saveSyncTaskError').show();
		} else {
			$("#createSyncTaskButton").attr("disabled", "disabled");
			$('#saveSyncTaskSuccess').show();
		}
	}
</script>