<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="clientName" class="col-sm-2 control-label">Client Name</label>

                <div class="col-sm-3">
                    <input type="text" id="clientName" class="form-control" ng-model="dto.clientName"
                           placeholder="Client Name"/>
                </div>
            </div>

            <div class="form-group">
                <label for="beginTime" class="col-sm-2 control-label">Begin Time</label>

                <div class="col-sm-3">
                    <div id="beginTime" class="input-group">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="form-begin-time"
                               role="button" data-toggle="dropdown" data-target="#"
                               href="">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Begin Time"
                                           data-ng-model="dto.beginTime">
                    <span class="input-group-addon"><i
                            class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu"
                                aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="dto.beginTime"
                                                data-datetimepicker-config="{dropdownSelector: '#form-begin-time'}"/>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="btn btn-success" ng-click="submit()">Save</span>
                </div>
            </div>
        </form>
    </div>
</div>