<div>
   <button id="step1_next" style="float: right;" type="button"
      onclick="pumadmin.saveSyncXml();" class="btn btn-success">保存，并到下一步</button>
   <p class="legend">填写同步的配置</p>
   <div id="container" style="height: 600px;">
      <div class="container-fluid">
         <div class="row-fluid">
            <div class="span8">
               <form>
                  <legend>Legend</legend>
                  <label>Label name</label> <input type="text"
                     placeholder="Type something…"> <span
                     class="help-block">Example block-level help
                     text here.</span> <label class="checkbox"> <input
                     type="checkbox"> Check me out
                  </label>
                  <button type="submit" class="btn">Submit</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>