<div>
   <button id="step2_next"
      style="float: right; margin-top: 6px; margin-right: 20px;"
      type="button" onclick="pumadmin.step2_next();"
      class="btn btn-info">下一步</button>
   <button style="float: right; margin-top: 6px; margin-right: 20px;"
      type="button" onclick="pumadmin.pre();" class="btn">上一步</button>
   <p class="legend">mysqldump</p>
   <div class="alert alert-warning">
      <strong>温馨提示</strong>：如果不需要dump，可以跳过。 <br> <br>
      <p>
         <strong>dump规则</strong>：
      </p>
      <p>(1) 目标的数据库可以存在也可以不存在，如果不存在，程序会自动创建。</p>
      <p>(2) 程序在dump前会判断目标数据库是否已经存在同名的表，如果已存在，则报错。(因为dump时会自动创建表)</p>
      <p>(3) 允许db改名，table改名，不会自动修改字段名。</p>
      <p>(4) 要求table的结构(字段个数，对应字段的类型)一致。</p>
   </div>
   <div style="">
      <div class="accordion" id="accordion2">
         <div class="accordion-group">
            <div class="accordion-heading">
               <a class="accordion-toggle" data-toggle="collapse"
                  data-parent="#accordion2" href="#collapseOne"> <span
                  class="label label-info">mysqldump的详情 (点击可收起)</span></a>
            </div>
            <div id="collapseOne" class="accordion-body in collapse"
               style="height: auto;">
               <div class="accordion-inner">
                  <div
                     style="padding: 30px 0px 30px 0px; background-color: #F5F5F5; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px 4px 4px 4px;">
                     <div class="row" style="margin-left: 0px;">
                        <div class="span3">
                           <form id="preview" class="form-horizontal">
                              <div class="control-group">
                                 <label class="control-label">dump源</label>
                                 <div class="controls">
                                    <input id="dumpSrc"
                                       disabled="disabled"
                                       style="width: 370px;" type="text">
                                 </div>
                              </div>
                              <div class="control-group">
                                 <label class="control-label">dump目标</label>
                                 <div class="controls">
                                    <input id="dumpDest"
                                       disabled="disabled"
                                       style="width: 370px;" type="text">
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div id="tables"
                        style="width: 500px; margin: 0 auto;"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <button id="dumpButton" type="button"
      style="float: right; margin-bottom: 10px; margin-right: 20px;"
      onclick="pumadmin.dump()" class="btn btn-success">开始dump</button>
   <pre
      style="cursor: text; margin-top: 20px; background-color: #3A1042; color: #FFFFFF; font-size: 12px; width: 95%; height: 320px; overflow-x: auto;"
      id="console"></pre>
   <p id="fail" style="display:none;color:red;">dump失败了，请看上述输出，找出原因。</p>
   <p id="success" style="display:none;color:green;">dump成功。binlogFile:<span id="binlogFile"></span>, binlogPos:<span id="binlogPosition"></span></p>
</div>