<div>
   <button id="step1_next" style="float: right; margin-left: 20px;"
      type="button" onclick="pumadmin.create_step1_next();"
      class="btn btn-info">下一步</button>
   <button id="step1_next" style="float: right;" type="button"
      onclick="pumadmin.saveSyncXml();" class="btn btn-success">保存</button>
   <p class="legend">填写同步的配置</p>
   <div id="container" style="height: 600px;">
      <div class="container-fluid">
         <div class="row-fluid">
            <div class="span8">
               <div id="xmlEditor"
                  style="width: 95%; height: 550px; border: 1px solid #A9E2F3; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;"></div>
            </div>
         </div>
      </div>
   </div>
</div>