<div>
   <ul id="stepsBreak" class="breadcrumb">
      <li class="step_done">第1步: 填写基础配置 <span class="divider">&gt;</span></li>
      <li class="step_done">第2步: 创建DumpAction <span class="divider">&gt;</span>
      </li>
      <li class="step_active">第3步: 创建SyncTaskAction</li>
   </ul>
   <a style="float: right; margin-right: 20px;" type="button"
      href="${rc.contextPath}/create/step2" class="btn">上一步</a>
   <p class="legend">创建同步任务</p>
   <div class="alert alert-warning">
      <strong>温馨提示</strong>：同步任务和同步配置是一一对应的，不会重复。
   </div>
   <h5 style="">请为同步任务，分配一台Puma-SyncServer，如有需要可以修改binlog信息</h5>
   <div
      style="padding: 10px 10px 0px 10px; background-color: white; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px 4px 4px 4px;">
      <form method="post"
         onsubmit="createSyncAction(this);return false;"
         action="${rc.contextPath}/create/createSyncAction">
         <label>选择SyncServer服务器作为同步任务的执行者: </label> <select
            name="syncServerHost" style="margin-left: 16px;">
            #foreach($syncServerConfig in ${syncServerConfigs})
            <option value="${syncServerConfig.name}">${syncServerConfig.name}</option>
            #end
         </select>
         <button style="float: right; margin-right: 20px;" type="submit"
            class="btn btn-success">创建任务</button>
         <label>binlog文件：</label><input type="text" name="binlogFile"
            style="margin-left: 16px;"
            value="$!{binlogInfo.binlogPosition}"><label>
            binlog位置：</label><input type="text" name="binlogPos"
            style="margin-left: 16px;"
            value="$!{binlogInfo.binlogPosition}">
      </form>
   </div>
   <div id="saveSyncTaskError" style="margin-top: 20px; display: none;"
      class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>
         创建失败！详细原因：<span id="saveSyncTaskErrorCause"></span>
      </p>
   </div>
   <div id="saveSyncTaskSuccess"
      style="margin-top: 20px; display: none;"
      class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      创建任务信息成功！
   </div>
</div>
<script>
	function createSyncAction(form) {
		$.ajax({
			type : $(form).attr('method'),
			url : $(form).attr('action'),
			data : $(form).serialize(),
			dataType : "json",
			success : createSyncActionDone,
			error : pumadmin.httpError
		});
		return false;
	}
	function createSyncActionDone(data) {
		if (data.success == false) {
			pumadmin.appError("错误信息", data.errorMsg);
		} else {
			$('#dumpState').text("CREATED (创建时间：刚刚)");
		}
	}
</script>