<script type="text/javascript" src="/js/views/src-db-instance.js"></script>
<div class="container-fluid">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <div class="btn-group-sm pull-right">
            <button class="btn btn btn-default">取消</button>
            <button class="btn btn-success" type="submit" form="src-db-instance-create-form">保存</button>
         </div>
         <h5>新增源数据库实例</h5>
      </div>

      <form id="src-db-instance-create-form" class="form-horizontal" method="post"
            action="${rc.contextPath}/src-db-instance/create" target="${rc.contextPath}/src-db-instance">
         <div class="panel-body">

            <div id="name-form-group" class="form-group has-feedback">
               <label class="col-md-2 control-label" for="name">数据库实例名称</label>
               <div class="col-md-7">
                  <input id="name" name="name" class="form-control" #if(${entity}) value="${entity.name}" #end>
                  <span id="name-feedback-icon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
               </div>
               <div class="col-md-3" hidden="hidden">
                  <p class="help-block">hello</p>
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="serverId">Server ID</label>
               <div class="col-md-7">
                  <input id="serverId" name="serverId" class="form-control">
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="host">IP地址(数据)</label>
               <div class="col-md-5">
                  <input id="host" name="host" class="form-control">
               </div>
               <div class="col-md-2">
                  <input id="port" name="port" class="form-control">
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="username">用户名(数据)</label>
               <div class="col-md-7">
                  <input id="username" name="username" class="form-control">
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="password">密码(数据)</label>
               <div class="col-md-7">
                  <input id="password" name="password" class="form-control">
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="metaHost">IP地址(元数据)</label>
               <div class="col-md-5">
                  <input id="metaHost" name="metaHost" class="form-control">
               </div>
               <div class="col-md-2">
                  <input id="metaPort" name="metaPort" class="form-control">
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="metaUsername">用户名(元数据)</label>
               <div class="col-md-7">
                  <input id="metaUsername" name="metaUsername" class="form-control">
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="metaPassword">密码(元数据)</label>
               <div class="col-md-7">
                  <input id="metaPassword" name="metaPassword" class="form-control">
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
