<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="database" class="col-sm-2 control-label">Database</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" id="database" class="form-control" ng-model="pumaDto.database"
                               placeholder="Search Database"/>
                      <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="search()" type="button"><span
                                class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="form-tables" class="col-sm-2 control-label">Tables</label>

                <div class="col-sm-8">
                    <isteven-multi-select
                            id="form-tables"
                            input-model="allTables"
                            output-model="tables"
                            button-label="name"
                            item-label="name"
                            tick-property="selected"
                            max-height="200px"
                            output-properties="name">
                    </isteven-multi-select>
                </div>
            </div>
            <div ng-repeat="server in servers" class="form-group">
                <label class="col-sm-2 control-label">Server-{{$index}}</label>

                <div class="col-sm-2">
                    <isteven-multi-select
                            input-model="server.input"
                            output-model="server.output"
                            button-label="name"
                            item-label="name"
                            tick-property="selected"
                            max-height="200px"
                            output-properties="name"
                            selection-mode="single">
                    </isteven-multi-select>
                </div>
                <div class="col-sm-3">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="form-begin-time-{{$index}}"
                           role="button" data-toggle="dropdown" data-target="#"
                           href="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Begin Time"
                                       data-ng-model="server.beginTime">
                    <span class="input-group-addon"><i
                            class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu"
                            aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="server.beginTime"
                                            data-datetimepicker-config="{
                    dropdownSelector: '#form-begin-time-{{$index}}'}"/>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="btn btn-danger" ng-click="delete(server)">Remove</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="btn btn-success" ng-click="submit()">Save</span>
                    <span class="btn btn-primary" ng-click="add()">Add Server</span>
                </div>
            </div>
        </form>
    </div>
</div>