<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.CheckTaskDao">

    <select id="findById" resultType="CheckTaskEntity">
		SELECT * FROM CheckTask WHERE Id = #{id}
	</select>

    <select id="findRunnable" resultType="CheckTaskEntity">
		select * from CheckTask
        where Success = 1
        order by UpdateTime
        limit 100
	</select>

    <insert id="create" parameterType="checkTaskEntity" useGeneratedKeys="true" keyColumn="ID">
		INSERT INTO CheckTask
            (
            CheckTask.Cursor,
            Running,
            OwnerHost,
            Success,
            Message,
            Comparison,
            SourceFetcher,
            TargetFetcher,
            Mapper,
            SourceDsBuilder,
            TargetDsBuilder,
            ComparisonProp,
            SourceFetcherProp,
            TargetFetcherProp,
            MapperProp,
            SourceDsBuilderProp,
            TargetDsBuilderProp,
            TaskName,
            TaskGroupName)
        VALUES
            (
            #{cursor},
            #{running},
            #{ownerHost},
            #{success},
            #{message},
            #{comparison},
            #{sourceFetcher},
            #{targetFetcher},
            #{mapper},
            #{sourceDsBuilder},
            #{targetDsBuilder},
            #{comparisonProp},
            #{sourceFetcherProp},
            #{targetFetcherProp},
            #{mapperProp},
            #{sourceDsBuilderProp},
            #{targetDsBuilderProp},
            #{taskName},
            #{taskGroupName})
	</insert>

    <update id="cleanUp">
        UPDATE
		CheckTask
		SET
		CheckTask.Running = 0,
		CheckTask.OwnerHost = null,
		CheckTask.Success = 1,
		CheckTask.UpdateTime = now()
		WHERE
		NOW() - interval 1 hour > CheckTask.UpdateTime
    </update>

    <update id="tryLock" parameterType="CheckTaskEntity">
        UPDATE
		CheckTask
		SET
		CheckTask.Running = 1,
		CheckTask.OwnerHost = #{ownerHost},
		CheckTask.UpdateTime = now()
		WHERE
		CheckTask.Id = #{id} AND CheckTask.Success = 1 AND
		(CheckTask.Running = 0 OR CheckTask.OwnerHost = #{ownerHost})
    </update>

    <update id="unlock" parameterType="CheckTaskEntity">
		UPDATE
		CheckTask
		SET
		CheckTask.Cursor = #{cursor},
		CheckTask.Running = 0,
		CheckTask.OwnerHost = NULL ,
		CheckTask.Success = #{success},
		CheckTask.Message = #{message},
		CheckTask.UpdateTime = now()
		WHERE
		CheckTask.Id = #{id} AND
        CheckTask.Running = 1 AND
        CheckTask.Success = 1
	</update>

    <delete id="deleteByTaskName" parameterType="map">
		DELETE FROM CheckTask
		WHERE
		TaskName = #{taskName}
	</delete>

</mapper>