<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.CheckTaskDao">

    <select id="findById" resultType="CheckTaskEntity">
		SELECT * FROM CheckTask WHERE Id = #{id}
	</select>

    <select id="findRunnable" resultType="CheckTaskEntity">
		select * from CheckTask
        where Success = 1
        order by CurrTime
        limit 100
	</select>

    <insert id="create" parameterType="checkTaskEntity" useGeneratedKeys="true" keyColumn="ID">
		INSERT INTO CheckTask
            (InitTime,
            CurrTime,
            Running,
            OwnerHost,
            Success,
            Message,
            Comparison,
            SourceFetcher,
            TargetFetcher,
            Mapper,
            SourceDsBuilder,
            TargetDsBuilder,
            ComparisonProp,
            SourceFetcherProp,
            TargetFetcherProp,
            MapperProp,
            SourceDsBuilderProp,
            TargetDsBuilderProp,
            TaskName,
            TaskGroupName)
        VALUES
            (#{initTime},
            #{currTime},
            #{running},
            #{ownerHost},
            #{success},
            #{message},
            #{comparison},
            #{sourceFetcher},
            #{targetFetcher},
            #{mapper},
            #{sourceDsBuilder},
            #{targetDsBuilder},
            #{comparisonProp},
            #{sourceFetcherProp},
            #{targetFetcherProp},
            #{mapperProp},
            #{sourceDsBuilderProp},
            #{targetDsBuilderProp},
            #{taskName},
            #{taskGroupName})
	</insert>

    <update id="update" parameterType="CheckTaskEntity">
		UPDATE
		CheckTask
		SET
		CheckTask.InitTime = #{initTime},
		CheckTask.CurrTime = #{currTime},
		CheckTask.Running = #{running},
		CheckTask.OwnerHost = #{ownerHost},
		CheckTask.Success = #{success},
		CheckTask.Message = #{message},
		CheckTask.UpdateTime = #{updateTime}
		WHERE
		CheckTask.Id = #{id}
	</update>

    <delete id="deleteByTaskName" parameterType="map">
		DELETE FROM CheckTask
		WHERE
		TaskName = #{taskName}
	</delete>

</mapper>