<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.DstDbDao">

	<select id="find" resultType="DstDbEntity">
		SELECT * FROM DstDb WHERE id = #{id}
	</select>

	<insert id="insert" parameterType="DstDbEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO DstDb
		(
		JdbcRef,
		Host,
		Port,
		Username,
		Password
		)
		VALUES
		(
		#{clusterName},
		#{host},
		#{port},
		#{username},
		#{password}
		)
	</insert>

	<update id="update" parameterType="DstDbEntity">
		UPDATE DstDb
		SET
		JdbcRef = #{clusterName},
		Host = #{host},
		Port = #{port},
		Username = #{username},
		Password = #{password}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="DstDbEntity">
		DELETE FROM DstDb WHERE id = #{id}
	</delete>

</mapper>