<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.MappingDao">

	<select id="find" resultType="MappingEntity">
		SELECT * FROM Mapping WHERE id = #{id}
	</select>

	<insert id="insert" parameterType="MappingEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO Mapping
		(
		DatabaseFrom,
		DatabaseTo,
		TableFrom,
		TableTo,
		ColumnFrom,
		ColumnTo
		)
		VALUES
		(
		#{databaseFrom},
		#{databaseTo},
		#{tableFrom},
		#{tableTo},
		#{columnFrom},
		#{columnTo}
		)
	</insert>

	<update id="update" parameterType="MappingEntity">
		UPDATE Mapping
		SET
		DatabaseFrom = #{databaseFrom},
		DatabaseTo = #{databaseTo},
		TableFrom = #{tableFrom},
		TableTo = #{tableTo},
		ColumnFrom = #{columnFrom},
		ColumnTo = #{columnTo}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="MappingEntity">
		DELETE FROM Mapping WHERE id = #{id}
	</delete>

</mapper>