<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.PumaTaskDbDao">

    <select id="findByTaskId" resultType="PumaTaskDbEntity">
        SELECT * FROM PumaTaskDb WHERE taskId = #{taskId}
    </select>

    <delete id="deleteByTaskId">
        DELETE FROM PumaTaskDb WHERE taskId = #{taskId}
    </delete>

    <insert id="insert" parameterType="PumaTaskDbEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO PumaTaskDb
        (
        taskId,
        dbId,
        preferred
        )
        VALUES
        (
        #{taskId},
        #{dbId},
        #{preferred}
        )
    </insert>
</mapper>