<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.SyncTaskDstDbDao">

	<select id="findByTaskId" resultType="SyncTaskDstDbEntity">
		SELECT * FROM SyncTaskDstDb WHERE taskId = #{taskId}
	</select>

	<insert id="insert" parameterType="SyncTaskDstDbEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO SyncTaskDstDb
		(
		taskId,
		dstDbId
		)
		VALUES
		(
		#{taskId},
		#{dstDbId}
		)
	</insert>

	<update id="update" parameterType="SyncTaskDstDbEntity">
		UPDATE SyncTaskDstDb
		SET
		taskId = #{taskId},
		dstDbId = #{dstDbId}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="SyncTaskDstDbEntity">
		DELETE FROM SyncTaskDstDb WHERE id = #{id}
	</delete>

</mapper>