<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.SyncTaskDao">

	<select id="find" resultType="SyncTaskEntity">
		SELECT * FROM SyncTask WHERE id = #{id}
	</select>

	<insert id="insert" parameterType="SyncTaskEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO SyncTask
		(
		name
		)
		VALUES
		(
		#{name}
		)
	</insert>

	<update id="update" parameterType="SyncTaskEntity">
		UPDATE SyncTask
		SET
		name = #{name}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="SyncTaskEntity">
		DELETE FROM SyncTask WHERE id = #{id}
	</delete>

</mapper>