<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.puma.biz.dao.SyncTaskSyncServerDao">

	<select id="findByTaskId" resultType="SyncTaskSyncServerEntity">
		SELECT * FROM SyncTaskSyncServer WHERE taskId = #{taskId}
	</select>

	<insert id="insert" parameterType="SyncTaskSyncServerEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO SyncTaskSyncServer
		(
		taskId,
		syncServerId
		)
		VALUES
		(
		#{taskId},
		#{syncServerId}
		)
	</insert>

	<update id="update" parameterType="SyncTaskSyncServerEntity">
		UPDATE SyncTaskSyncServer
		SET
		taskId = #{taskId},
		syncServerId = #{syncServerId}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="SyncTaskSyncServerEntity">
		DELETE FROM SyncTaskSyncServerMapping WHERE id = #{id}
	</delete>

</mapper>