#set($layout = "shareLayout.htm")
<div class="container">
   <div class="row">
      <div class="span2">
         <ul class="well nav nav-pills nav-stacked">
            <!--   <ul class="well nav nav-list affix">   -->
            <li class="$!{readmeActive}"><a
               href="${rc.contextPath}/readme"><i
                  class="icon-file #if(${readmeActive})icon-white #end"></i>
                  使用说明 </a></li>
            <li class="divider_line"></li>
            <li class="nav-header"><i class="icon-tasks"></i> 主要功能</li>
            <li class="$!{watchActive}"><a
               href="${rc.contextPath}/watch"><i
                  class="icon-share #if(${watchActive})icon-white #end"></i>
                  查看同步状态 </a></li>
            <li class="$!{createActive}"><a
               href="${rc.contextPath}/create"><i
                  class="icon-share #if(${createActive})icon-white #end"></i>
                  创建同步 </a></li>
            <li class="$!{modifyActive}"><a
               href="${rc.contextPath}/single"><i
                  class="icon-share #if(${modifyActive})icon-white #end"></i>
                  修改同步 </a></li>
            <li class="$!{deleteActive}"><a
               href="${rc.contextPath}/single"><i
                  class="icon-share #if(${deleteActive})icon-white #end"></i>
                  删除同步 </a></li>
            <li class="divider_line"></li>
         </ul>
      </div>
      <div class="span9">#parse("main/${path}/main.htm")</div>
   </div>
</div>

