#set($layout = "shareLayout.htm")
<script type="text/javascript" src="${rc.contextPath}/js/lib/jquery-2.1.3.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/lib/underscore.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/puma.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/init.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/util.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/validation.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/puma-form.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/puma-modal.js"></script>
<div class="container bs-docs-container container-local">
   <!--<div class="row">-->
   	<div class="col-md-3 container-left-local" >

      <ul class="nav nav-stacked well ">
         <li>
            <a href="${rc.contextPath}/src-db-instance">源数据库配置</a>
         </li>
         <li>
            <a href="${rc.contextPath}/puma-server">数据处理服务器配置</a>
         </li>
         <li>
            <a href="${rc.contextPath}/puma-task">数据处理任务</a>
         </li>
         <li>
            <a href="${rc.contextPath}/dst-db-instance">目标数据库配置</a>
         </li>
         <li>
            <a href="${rc.contextPath}/sync-server">数据同步服务器配置</a>
         </li>
         <li>
            <a href="${rc.contextPath}/sync-task">数据同步任务</a>
         </li>
         <li>
            <a href="${rc.contextPath}/shard-sync-task">分库分表数据同步任务</a>
         </li>
         <li>
            <a href="${rc.contextPath}/shard-dump-task">分库分表数据Dump任务</a>
         </li>
      </ul>
      </div>
      <!--div class="col-md-3">
         <ul class="well nav nav-pills nav-stacked">
            <li class="nav-header"><i class="icon-tasks"></i> 配置管理</li>
            <li class="$!{mysqlSettingActive}"><a
               href="${rc.contextPath}/mysqlSetting"><i
                  class="icon-wrench #if(${mysqlSettingActive})icon-white #end"></i>
                  数据源配置 </a></li>
            <li class="$!{pumaServerSettingActive}"><a
               href="${rc.contextPath}/pumaServerSetting"><i
                  class="icon-wrench #if(${pumaServerSettingActive})icon-white #end"></i>
                  PumaServer配置 </a></li>
            <li class="$!{pumaSyncServerSettingActive}"><a
               href="${rc.contextPath}/pumaSyncServerSetting"><i
                  class="icon-wrench #if(${pumaSyncServerSettingActive})icon-white #end"></i>
                  PumaSyncServer配置 </a></li>
            <li class="divider_line"></li>
            <li class="nav-header"><i class="icon-tasks"></i> 同步功能</li>
            <li class="$!{createdActive}"><a
               href="${rc.contextPath}/created"><i
                  class="icon-ok-circle #if(${createdActive})icon-white #end"></i>
                  已有的任务 </a></li>
            <li class="$!{createActive}"><a
               href="${rc.contextPath}/create"><i
                  class="icon-plus #if(${createActive})icon-white #end"></i>
                  创建同步任务 </a></li>

            <li class="divider_line"></li>
            <li class="nav-header">
               <i class="icon-cog"></i> 主从复制功能
            </li>
            <li>
               <a href="${rc.contextPath}/dbInstanceConfigg">
                  <i class="icon-wrench"></i> 数据库实例配置
               </a>
            </li>
            <li>
               <a href="${rc.contextPath}/serverConfig">
                  <i class="icon-wrench"></i> PumaServer配置
               </a>
            </li>
            <li>
               <a href="${rc.contextPath}/replicationTask">
                  <i class="icon-time"></i> 当前任务
               </a>
            </li>

            <li class="divider_line"></li>
         </ul>
      </div-->
      #if(${subPath})
      <div class="col-md-9 container-right-local">#parse("main/${path}/${subPath}.htm")</div>
      #else
      <div class="col-md-9 container-right-local">#parse("main/${path}/main.htm")</div>
      #end
   <!--</div>-->
</div>

#parse("main/modal/warn.htm")
#parse("main/modal/error.htm")
