<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5>
                填写分库分表数据同步配置
            </h5>
        </div>
        <form id="sync-task-create-step1" class="form-horizontal" method="post">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="ruleName">规则名:</label>
                    <div class="col-md-7">
                        <input class="form-control" id="ruleName" name="ruleName" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="tableName">表名:</label>
                    <div class="col-md-7">
                        <input class="form-control" id="tableName" name="tableName" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>

                    <div class="col-md-7">
                        <button class="btn btn-success" type="submit">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>