<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5>
                填写分库分表数据同步配置
            </h5>
        </div>
        <form id="sync-task-create-step1" class="form-horizontal" method="post">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="ruleName">规则名:</label>

                    <div class="col-md-7">
                        <input class="form-control" id="ruleName" name="ruleName" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="tableName">表名:</label>

                    <div class="col-md-7">
                        <input class="form-control" id="tableName" name="tableName" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="syncServerName">SyncServer服务器:</label>

                    <div class="col-md-7">
                        <select id="syncServerName" name="syncServerName" class="form-control">
                            #foreach($syncServer in ${syncServers})
                            <option value="${syncServer.name}">${syncServer.name}</option>
                            #end
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="isMigrate">任务类型:</label>

                    <div class="col-md-7">
                        <select id="isMigrate" name="isMigrate" class="form-control">
                            <option value="true">迁移任务</option>
                            <option value="false">辅维度同步任务</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="binlogName">数据库日志文件名:</label>

                    <div class="col-md-7">
                        <input class="form-control" id="binlogName" name="binlogName" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="binlogPos">数据库日志位置:</label>

                    <div class="col-md-7">
                        <input class="form-control" id="binlogPos" name="binlogPos" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="seqTimestamp">开始同步时间:</label>

                    <div class="col-md-7">
                        <input class="form-control" id="seqTimestamp" name="seqTimestamp" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>

                    <div class="col-md-7">
                        <button class="btn btn-success" type="submit">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var changeForm = function(){
        if($('#isMigrate').val() == 'true'){
            $('#binlogName').parent().parent().show();
            $('#binlogPos').parent().parent().show();
            $('#seqTimestamp').parent().parent().hide();
        }else{
            $('#binlogName').parent().parent().hide();
            $('#binlogPos').parent().parent().hide();
            $('#seqTimestamp').parent().parent().show();
        }
    }

    $('#isMigrate').on('change',changeForm);

    changeForm();

</script>