<div class="container-fluid">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <div class="btn-group-sm pull-right">
            <a class="btn btn-success" href="${rc.contextPath}/sync-task/create/step3">跳过Dump</a>
            <button class="btn btn-success" type="submit" form="sync-task-create-step2">创建Dump任务</button>
         </div>
         <h5>
            	创建DumpTask
         </h5>
      </div>
     <form id="sync-task-create-step2" class="form-horizontal puma-form" method="post"
      action="${rc.contextPath}/sync-task/create/createDumpTask" target="">
       <div class="panel-body">
	     <div class="form-group">
	          <label class="col-md-3 control-label" for="syncServerName">SyncServer服务器:</label>
	          <div class="col-md-5">
	               <select id="syncServerName" name="syncServerName" class="form-control">
	              #foreach($syncServer in ${syncServers})
                        <option value="${syncServer.name}">${syncServer.name}</option>
                  #end
	              </select>
	          </div>
	          <div class="col-md-3" hidden="hidden">
	          	<p class="help-block">hello</p>
	          </div>
	     </div>
	     
	     <div class="form-group">
	          <label class="col-md-3 control-label" for="syncServerName">binlog文件:</label>
	          <div class="col-md-5">
	              <input id="dumpBinlogFile" class="form-control" disabled="disabled" />
	          </div>
	          <div class="col-md-3" hidden="hidden">
	          	<p class="help-block">hello</p>
	          </div>
	     </div>
	     <div class="form-group">
	          <label class="col-md-3 control-label" for="syncServerName">binlog位置:</label>
	          <div class="col-md-5">
	              <input id="dumpBinlogPos" class="form-control" disabled="disabled" />
	          </div>
	          <div class="col-md-3" hidden="hidden">
	          	<p class="help-block">hello</p>
	          </div>
	     </div>
	     <div class="form-group">
	     	 <div class="col-md-3" >
	     	  <div class="btn-group-sm pull-right">
	              <button class="btn btn-success " type="button"  onclick="refreshDumpStatus()">刷新状态</button>
              	</div>
	     	 </div>
	          <label  class="col-md-6 control-label" style="text-align:left">
	           
	          DumpTask状态  
	         (自动每隔3秒刷新<input
                        checked="checked" type="checkbox"
                        id="autoRefresh"> )：<span
                        style="font-size: 12px; color: red"
                        id="dumpStatus"> </span>
              </label>
            
	          <div class="col-md-3" hidden="hidden">
	          	<p class="help-block">hello</p>
	          </div>
	     </div>
	     
	   </div>
	  <div class="panel panel-default" id="div-parent-mapping" style="border-bottom:0px;-webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 0px 1px rgba(0, 0, 0, .05);">
		     <div class="panel-heading" >
		     <div class="btn-group-sm pull-right">
		         <a class="btn btn-success" class="accordion-toggle"
                              data-toggle="collapse"
                              data-parent="#div-parent-mapping"
                              href="#div_body_mapping" >点击可收起</a>
		     </div>
		        <h5>映射关系</h5>
		     </div>
		     <div class="panel-body in collapse" id="div_body_mapping">
		      #foreach($databaseMapping in $dumpMapping.databaseMappings)
				 <div class="form-group">
				 	<label class="col-md-2 control-label">数据库名称</label>
				    <label class="col-md-2 control-label" style="text-align:center">$databaseMapping.from</label>
			  			<div class="col-sm-1">
			  			 	<span class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="margin-top:8px; margin-left:9px"></span>
			  			</div>
			  	     <label class="col-md-2 control-label" style="text-align:center">$databaseMapping.to</label>
			      </div>
	            
	          <hr/>
	           #foreach($table in $databaseMapping.tables)
	           <div class="form-group">
				 <label class="col-md-2 control-label">表名称</label>
				 <label class="col-md-2 control-label " style="text-align:center">${table.from}</label>
			  	 <div class="col-sm-1">
			  		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="margin-top:8px; margin-left:9px"></span>
			  	 </div>
			  	 <label class="col-md-2 control-label " style="text-align:center">${table.to}</label>
			    </div>
			   #end
			 #end
			</div>
	      </div>
	   </form>
    </div>
</div>
<!--
<div class="container"
   style="margin: 0 auto; width: 100%; margin-bottom: 50px;">
   <ul id="stepsBreak" class="breadcrumb">
      <li class="step_done">第1步: 填写基础配置 <span class="divider">&gt;</span></li>
      <li class="step_active">第2步: 创建DumpTask <span class="divider">&gt;</span>
      </li>
      <li class="step_undo">第3步: 创建SyncTask</li>
   </ul>
   <div>
      <a href="${rc.contextPath}/sync-task/create/step3" id="dumpStepButton"
         type="submit" style="float: right;" class="btn"> 跳过dump</a> </a>
      <p class="legend">Dump</p>
      <div style="height: 700px">
         <div class="container-fluid">
            <div class="row-fluid">
               <div class="span10">
                  <form class="form" method="post"
                     onsubmit="createDumpTask(this);return false;"
                     action="${rc.contextPath}/sync-task/create/createDumpTask">
                     <label style="">DumpTask状态 (<a
                        href="javascript:refreshDumpStatus();">刷新状态</a>&nbsp;&nbsp;自动每隔3秒刷新<input
                        checked="checked" type="checkbox"
                        id="autoRefresh"> )：<span
                        style="font-size: 12px; color: red"
                        id="dumpStatus"> </span>
                     </label> <br> binlog文件：<input class="input-mini"
                        type="text" disabled="disabled"
                        id="dumpBinlogFile" style="margin-right: 20px;">
                     binlog位置：<input class="input-mini" type="text"
                        disabled="disabled" id="dumpBinlogPos">
                     <hr>
                     <label>选择源数据库(${srcDBInstance.name})的Host:
                     </label>
                     <button id="createDumpButton"
                        style="float: right; margin-right: 20px;"
                        type="submit" class="btn btn-info">创建DumpTask</button>
                     <select name="srcMysqlHost"
                        style="margin-left: 16px; margin-right: 16px;">
                        <option value="${srcDBInstance.host}">${srcDBInstance.host}</option>
                     </select> <br> <label>选择目标数据库(${destDBInstance.name})的Host:
                     </label> <select name="destMysqlHost"
                        style="margin-left: 16px; margin-right: 16px;">
                        <option value="$destHost.host">${destDBInstance.host}</option>
                     </select><br> <label>选择SyncServer作为dump的服务器执行者:
                     </label> <select name="syncServerName"
                        style="margin-left: 16px; margin-right: 16px;">
                        #foreach($syncServer in
                        ${syncServers})
                        <option value="${syncServer.name}">${syncServer.name}</option>
                        #end
                     </select>
                     <hr>
                  </form>
                  <label>映射关系</label>
                  <div class="accordion" id="accordion2">
                     <div class="accordion-group">
                        <div class="accordion-heading">
                           <a class="accordion-toggle"
                              data-toggle="collapse"
                              data-parent="#accordion2"
                              href="#collapseOne"> <span
                              class="label label-info">mysqldump的详情
                                 (点击可收起)</span></a>
                        </div>
                        <div id="collapseOne"
                           class="accordion-body in collapse"
                           style="height: auto;">
                           <div class="accordion-inner">
                              <div
                                 style="padding: 30px 0px 30px 0px; background-color: #F5F5F5; border: 0px solid rgba(0, 0, 0, 0); border-radius: 4px 4px 4px 4px;">
                                 <div id="tables"
                                    style="width: 500px; margin: 0 auto;">
                                    #foreach($databaseMapping in
                                    $dumpMapping.databaseMappings)
                                    <table class="table table-hover">
                                       <thead>
                                          <tr>
                                             <th>$databaseMapping.from</th>
                                             <th>$databaseMapping.to</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          #foreach($table in
                                          $databaseMapping.tables)
                                          <tr>
                                             <td>$table.from</td>
                                             <td>$table.to</td>
                                          </tr>
                                          #end
                                       </tbody>
                                    </table>
                                    #end
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
-->
<script>
	function createDumpTask(form) {
		$.ajax({
			type : $(form).attr('method'),
			url : $(form).attr('action'),
			data : $(form).serialize(),
			dataType : "json",
			success : createDumpTaskDone,
			error : pumadmin.httpError
		});
		return false;
	}
	function createDumpTaskDone(data) {
		if (data.success == false) {
			pumadmin.appError("错误信息", data.errorMsg);
		} else {
			$('#dumpStatus').text("CREATED (创建时间：刚刚)");
			$("#createDumpButton").attr("disabled", "disabled");
		}
	}
	function refreshDumpStatus() {
		var param = new Object();
		// 发送ajax请求jsonp
		var url = window.contextpath + '/sync-task/create/refreshDumpStatus';
		$('#dumpStatus').text("正在刷新...");
		$.ajax({
			type : 'POST',
			url : url,
			data : param,
			dataType : "json",
			success : refreshDumpStatusDone,
			error : pumadmin.httpError
		});
	}
	function refreshDumpStatusDone(data) {
		if (data.success == false) {
			pumadmin.appError("访问发生错误", data.errorMsg);
		} else {
			var status = data.status;
			var text;
			if (status.status) {
				text = status.status;
				if (status.detail) {
					text += " (" + status.detail + ")"
				}
			} else {
				text = "无状态 (可能不在运行)";
			}
			$("#dumpStatus").text(text);
			if (status.binlogInfo && status.binlogInfo.binlogFile) {
				$('#dumpBinlogFile').val(status.binlogInfo.binlogFile);
				$('#dumpBinlogPos').val(status.binlogInfo.binlogPosition);
			}
			if (status.status == 'SUCCEED') {
				//把文案显示成“下一步”
				$("#dumpStepButton").addClass("btn-success");
				$("#dumpStepButton").text("下一步");
			}
			//如果设置自动刷新，则3秒后再次调用
			if ($('#autoRefresh').is(':checked')) {
				setTimeout(refreshDumpStatus, 3000);
			}
		}
	}
</script>
