<div class="container-fluid">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <div class="btn-group-sm pull-right">
            <button class="btn btn-success validation-button" type="submit" form="sync-task-create-step1">下一步</button>
         </div>
         <h5>
            	填写同步的配置
         </h5>
      </div>
       <form id="sync-task-create-step1" class="form-horizontal puma-form" method="post"
         action="${rc.contextPath}/sync-task/create/step1Save"  target="${rc.contextPath}/sync-task/create/step2">
         <div class="panel-body">
         
	          <div class="form-group">
	               <label class="col-md-2 control-label" for="pumaTaskName">Server任务源:</label>
	               <div class="col-md-7">
	                <select id="pumaTaskName" name="pumaTaskName" class="form-control">
		               #foreach($pumaTask in ${pumaTasks})
		               <option value="${pumaTask.name}">${pumaTask.name}</option>
		               #end
            		</select>
	               </div>
	               <div class="col-md-3" hidden="hidden">
	                  <p class="help-block">hello</p>
	               </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-2 control-label" for="dstDBInstanceName">目标实例:</label>
	              <div class="col-md-7">
	                 <select id="dstDBInstanceName" name="dstDBInstanceName" class="form-control">
             			#foreach($dstDBInstance in ${dstDBInstances})
               			<option value="${dstDBInstance.name}">${dstDBInstance.name}</option>
               			#end
            		</select>
	              </div>
	              <div class="col-md-3" hidden="hidden">
	                 <p class="help-block">hello</p>
	              </div>
	           </div>
	         
	       </div>
	         <div class="panel panel-default"  style="border-bottom:0px;-webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 0px 1px rgba(0, 0, 0, .05);">
		           <div class="panel-heading">
		           	 <div class="btn-group-sm pull-right">
		           	 	<button class="btn btn-success" type="button" onclick="addTableMapping(this);">新增表同步</button>
		           	 </div>
		           		<h5>映射关系</h5>
		           </div>
		           <div class="panel-body" name="form_body_mapping">
			           <div class="form-group">
			           	 <label class="col-md-2 control-label">数据库名称</label>
			           <div class="col-md-3">
		  				 <input name="databaseFrom" class="form-control" placeholder="源数据库名称" />
		  			   </div>
		  			   <div class="col-sm-1">
		  			     <span class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="margin-top:8px; margin-left:9px"></span>
		  			   </div>
		  			   <div class="col-md-3">
		  				 <input name="databaseTo" class="form-control" placeholder="目标数据库名称" />
		  			   </div>
		  			   <input type="hidden" autocomplete="off" name="count" value="0">
		           	 </div>
	           	 	
	            	</div>
	       		</div>
       </form>
   </div>
</div>
<!--
<div class="container"
   style="margin: 0 auto; width: 100%; margin-bottom: 50px;">
   <ul id="stepsBreak" class="breadcrumb">
      <li class="step_active">第1步: 填写基础配置 <span class="divider">&gt;</span></li>
      <li class="step_undo">第2步: 创建DumpTask <span class="divider">&gt;</span>
      </li>
      <li class="step_undo">第3步: 创建SyncTask</li>
   </ul>
   <div>
      <form id="databaseForm" class="form-horizontal" method="post"
         onsubmit="submit0(this);return false;" onSuccess="onSuccess"
         action="${rc.contextPath}/sync-task/create/step1Save">
         <button type="submit" style="float: right;"
            class="btn btn-success">
            下一步</a>
         </button>
         <p class="legend">填写同步的配置</p>
         <div style="height: 700px">
            <span>选择源实例: </span> <select name="pumaTaskName"
               style="margin-left: 16px; margin-right: 16px;">
               #foreach($pumaTask in ${pumaTasks})
               <option value="${pumaTask.name}">${pumaTask.name}</option>
               #end
            </select> <span>选择目标实例: </span> <select name="dstDBInstanceName"
               style="margin-left: 16px;">
             #foreach($dstDBInstance in ${dstDBInstances})
               <option value="${dstDBInstance.name}">${dstDBInstance.name}</option>
               #end
            </select>
            <hr>
            <label>映射关系 <!-- (<a href="javascript:loadXmlSample();">加载示例</a> ) -->
       <!-- </label>
            <div
               style="padding: 20px 10px 10px 10px; border: 1px solid #E5E5E5; border-radius: 4px 4px 4px 4px; background-color: #F7F7F9;">
               <div>
                  <a
                     style="float: right; margin-top: 0px; margin-right: 10px;"
                     href="javascript:;" onclick="addTableDiv(this);"><i
                     class="icon-plus"></i>新增表同步</a>
                  <div style="font-weight: bold;" class="control-group">
                     <label class="control-label">数据库名称</label>
                     <div class="controls">
                        <input type="text" placeholder="源数据库名"
                           name="databaseFrom" value="">&nbsp;&nbsp;<i
                           class="icon-arrow-right"></i>&nbsp;&nbsp;<input
                           placeholder="目标数据库名" type="text"
                           name="databaseTo" value="">
                     </div>
                  </div>
                  <input name="count" autocomplete="off" type="hidden"
                     value="0">
               </div>
            </div>
            <!-- <div id="xmlEditor"
                        style="width: 50%; height: 550px; border: 1px solid #A9E2F3; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;"></div>
                         -->
		<!--</div>
         <input id="syncXml" type="hidden" name="syncXml" value="">
      </form>
   </div>
</div>  -->
<div style="display: none" id="copySource">
 <div id="add_table_div">
   	 <div class="form-group">
		<label class="col-md-2 control-label">表名称</label>
		<div class="col-md-3">
		  <input name="tableFrom" class="form-control" placeholder="源表名称" />
	   </div>
	   <div class="col-sm-1">
		  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="margin-top:8px; margin-left:9px"></span>
	   </div>
	   <div class="col-md-3">
		<input name="tableTo" class="form-control" placeholder="目标表名称" />
	   </div>
	   <div class="col-sm-1">
		 <a href="javascript:;" onclick="removeTableMapping(this);" >
		 	<span class="glyphicon glyphicon-remove" aria-hidden="true"  style="margin-top:8px;"></span>
         </a>
	   </div>
	  </div>
   </div>
   <!--
   <div id="addTableDiv">
      <div class="control-group">
         <label class="control-label">表名</label>
         <div class="controls">
            <input placeholder="源表名称" type="text" name="tableFrom">&nbsp;&nbsp;<i
               class="icon-arrow-right"></i>&nbsp;&nbsp;<input
               placeholder="目标表名称" type="text" name="tableTo">&nbsp;&nbsp;
            <a href="javascript:;" onclick="removeTableDiv(this);"><i
               class="icon-remove"></i></a>
         </div>
      </div>
   </div>
  
   <div id="addDatabaseDiv">
      <div>
         <hr>
         <a style="float: right; margin-top: 0px; margin-right: 10px;"
            href="javascript:;" onclick="removeDatabaseDiv(this);"><i
            class="icon-remove"></i>删除该库同步</a> <a
            style="float: right; margin-top: 0px; margin-right: 10px;"
            href="javascript:;" onclick="addTableDiv(this);"><i
            class="icon-plus"></i>新增表同步</a>
         <div style="font-weight: bold;" class="control-group">
            <label class="control-label">数据库名称</label>
            <div class="controls">
               <input type="text" placeholder="源实例名称" name="name">&nbsp;&nbsp;<i
                  class="icon-arrow-right"></i>&nbsp;&nbsp;<input
                  placeholder="目标实例名称" type="text" name="name">
            </div>
         </div>
         <input type="hidden" autocomplete="off" name="count" value="0">
      </div>
   </div>
 -->
</div>

<script>
	function addTableMapping(aLink){
		var form = $(aLink).parent().parent().parent().children("div[name='form_body_mapping']");
		$(form).append($('#add_table_div').html());
		var count = Number($(form).children("input[name='count']").val());
		$(form).children("input[name='count']").val(count + 1);
	}
	
	function removeTableMapping(aLink) {
		var control = $(aLink).parent().parent();
		var form = $(control).parent();
		var count = Number($(form).children("input[name='count']").val());
		$(form).children("input[name='count']").val(count - 1);
		$(control).remove();
	}
	function addTableDiv(aLink) {
		var form = $(aLink).parent();
		$(form).append($('#addTableDiv').html());
		var count = Number($(form).children("input[name='count']").val());
		$(form).children("input[name='count']").val(count + 1);
	}
	
	function removeTableDiv(aLink) {
		var control = $(aLink).parent().parent();
		var form = $(control).parent();
		var count = Number($(form).children("input[name='count']").val());
		$(form).children("input[name='count']").val(count - 1);
		$(control).remove();
	}
	function removeDatabaseDiv(aLink) {
		var dbDiv = $(aLink).parent();
		$(dbDiv).remove();
	}
	function addDatabaseDiv() {
		var form = $("#databaseForm");
		$(form).append($('#addDatabaseDiv').html());
	}
	function submit0(form) {
		//$("#syncXml").val(window.xmlEditor.getValue());
		$.ajax({
			type : $(form).attr('method'),
			url : $(form).attr('action'),
			data : $(form).serialize(),
			dataType : "json",
			success : onSuccess,
			error : pumadmin.httpError
		});
		return false;
	}
	function onSuccess(data) {
		if (data.success == false) {
			pumadmin.appError("错误信息", data.errorMsg);
		} else {
			window.location = "${rc.contextPath}/sync-task/create/step2";
		}
	}
	function loadXmlSample() {
		var param = new Object();
		var url = window.contextpath + '/sync-task/create/loadXmlSample';
		$.ajax({
			type : 'POST',
			url : url,
			data : param,
			dataType : "json",
			success : loadXmlSampleDone,
			error : pumadmin.httpError
		});
	}
	function loadXmlSampleDone(data) {
		if (data.success == false) {
			pumadmin.appError("错误信息", data.errorMsg);
		} else {
			//window.xmlEditor.setValue(data.sampleXml);
			//window.xmlEditor.moveCursorTo(0, 0);
		}
	}
</script>
#parse("main/create/initJs.htm")
