<div class="container-fluid">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <div class="btn-group-sm pull-right">
            <button class="btn btn btn-default" onclick="javascript:history.back();">返回</button>
            <button class="btn btn-success validation-button" type="submit" form="src-db-instance-create-form"
                    #if(${lock}) disabled="disabled" #end>保存</button>
         </div>
         <h5>
            新增源数据库实例 #if(${lock})<span class="orange-warning">(已锁定，请先删除相关任务)</span>#end
         </h5>
      </div>

      <form id="src-db-instance-create-form" class="form-horizontal puma-form" method="post"
            action="${rc.contextPath}/src-db-instance/create" target="${rc.contextPath}/src-db-instance">
         <div class="panel-body">

            #if(${entity})
            <div class="form-group" hidden="hidden">
               <label class="sr-only" for="id"></label>
               <input id="id" name="id" value="${entity.id}">
            </div>
            #end

            <div class="form-group">
               <label class="col-md-2 control-label" for="name">数据库实例名称</label>
               <div class="col-md-7">
                  <input id="name" name="name" class="form-control validation-input" format="db-name"
                         #if(${entity}) value="${entity.name}" #end #if(${lock}) disabled="disabled" #end>
               </div>
               <div class="col-md-3 validation-help">
                  <span hidden="hidden">无效数据库实例名称</span>
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="serverId">Server ID</label>
               <div class="col-md-7">
                  <input id="serverId" name="serverId" class="form-control validation-input" format="db-server-id"
                         #if(${entity}) value="${entity.serverId}" #end #if(${lock}) disabled="disabled" #end>
               </div>
               <div class="col-md-3 validation-help">
                  <span hidden="hidden">无效Server ID</span>
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="ip">IP地址</label>
               <div class="col-md-7">
                  <input id="ip" name="ip" class="form-control validation-input" format="ip"
                         placeholder="若不指定端口号，默认为3306" #if(${entity}) value="${entity.host}:${entity.port}" #end
                         #if(${lock}) disabled="disabled" #end>
               </div>

               <div class="col-md-3 validation-help">
                  <span hidden="hidden">无效IP地址</span>
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="username">用户名</label>
               <div class="col-md-7">
                  <input id="username" name="username" class="form-control validation-input" format="username"
                         #if(${entity}) value="${entity.username}" #end #if(${lock}) disabled="disabled" #end>
               </div>
               <div class="col-md-3 validation-help">
                  <span hidden="hidden">无效用户名</span>
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="password">密码</label>
               <div class="col-md-7">
                  <input id="password" type="password" name="password" class="form-control validation-input" format="password"
                         #if(${entity}) value="${entity.password}" #end #if(${lock}) disabled="disabled" #end>
               </div>
               <div class="col-md-3 validation-help">
                  <span hidden="hidden">无效密码</span>
               </div>
            </div>

            <!--div class="form-group">
               <label class="col-md-2 control-label" for="metaHost">IP地址(元数据)</label>
               <div class="col-md-5">
                  <input id="metaHost" name="metaHost" class="form-control validation-input" format="host"
                         placeholder="e.g. 127.0.0.1" #if(${entity}) value="${entity.metaHost}" #end
                         #if(${lock}) disabled="disabled" #end>
               </div>
               <label class="sr-only control-label" for="metaPort">IP端口(元数据)</label>
               <div class="col-md-2">
                  <input id="metaPort" name="metaPort" class="form-control validation-input" format="port"
                         placeholder="e.g. 3306" #if(${entity}) value="${entity.metaPort}" #end
                         #if(${lock}) disabled="disabled" #end>
               </div>
               <div class="col-md-3 validation-help">
                  <span hidden="hidden">无效IP地址</span>
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="metaUsername">用户名(元数据)</label>
               <div class="col-md-7">
                  <input id="metaUsername" name="metaUsername" class="form-control validation-input" format="username"
                         #if(${entity}) value="${entity.metaUsername}" #end #if(${lock}) disabled="disabled" #end>
               </div>
               <div class="col-md-3 validation-help">
                  <span hidden="hidden">无效用户名(元数据)</span>
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="metaPassword">密码(元数据)</label>
               <div class="col-md-7">
                  <input id="metaPassword" type="password" name="metaPassword" class="form-control validation-input" format="password"
                         #if(${entity}) value="${entity.metaPassword}" #end #if(${lock}) disabled="disabled" #end>
               </div>
               <div class="col-md-3 validation-help">
                  <span hidden="hidden">无效密码(元数据)</span>
               </div>
            </div-->
         </div>
      </form>
   </div>
</div>
