<!-- model.node -->

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Host </label>

    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.host" type="text" placeholder="Host" class="form-control"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Port </label>

    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.port" type="text" placeholder="Port" class="form-control"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Username </label>

    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.username" type="text" placeholder="Username" class="form-control"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Password </label>

    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.password" type="text" placeholder="Password" class="form-control"/>
    </div>
</div>
