<div class="row">
    <div class="col-sm-12">
        <table id="simple-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-sm-2">Name</th>
                <th class="col-sm-2">Server</th>
                <th class="col-sm-6">Ack</th>
                <th class="col-sm-1">Status</th>
                <th class="col-sm-1">Action</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="task in data.tasks">
                <td>{{task.head.name}}</td>
                <td>{{task.server.host}}</td>
                <td><div ng-include="template.ack + task.info.ackRef + '.html'"></div></td>
                <td>
                    <span ng-if="task.info.statusConstant === 'PREPARING'" class="label label-success">Preparing</span>
                    <span ng-if="task.info.statusConstant === 'RUNNING'" class="label label-success">Running</span>
                    <span ng-if="task.info.statusConstant === 'FINISHED'" class="label label-success">Finished</span>
                    <span ng-if="task.info.statusConstant === 'STOPPED'" class="label label-success">Stopped</span>
                    <span ng-if="task.info.statusConstant === 'RETRYING'" class="label label-success">Retrying</span>
                    <span ng-if="task.info.statusConstant === 'FAILURE'" class="label label-success">Failure</span>
                </td>
                <td>
                    <a href="#/puma-sync/config?id={{task.taskId}}" class="btn btn-xs btn-success" title="Edit">
                        <i class="glyphicon glyphicon-pencil"></i></a>
                    <button ng-click="remove(task.taskId)" class="btn btn-xs btn-danger" title="Remove">
                        <i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
