<div>
   <p class="legend">所有同步</p>
   <div id="container" style="height: 550px;">
      <div id="resultDiv" style="height: 400px; overflow-y: auto;">
         <table class="table table-hover table-striped">
            <thead>
               <tr>
                  <th>puma-server的host</th>
                  <th>源serverId</th>
                  <th>源target</th>
                  <th>目标host</th>
                  <th>操作</th>
               </tr>
            </thead>
            <tbody id="resultTable">
            </tbody>
         </table>
         <div id="noResultDiv" class="alert alert-warn"
            style="text-align: center; display: none;">
            <br>
            <p>
               <i class="icon-warning-sign"></i>
               您尚未添加任何同步，请点击左边的“创建同步”的按钮进行添加。
            </p>
            <br>
         </div>
      </div>
      <ul class="pager">
         <li class="disabled" id="prePage"><a href="javascript:;">&larr;
               上页</a></li>
         <li class="disabled" id="nextPage"><a href="javascript:;">下页
               &rarr;</a></li>
      </ul>
   </div>
</div>