<!-- model.node -->

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Client Name </label>
    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.clientName" type="text" placeholder="client name" class="form-control"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Database </label>
    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.databaseName" type="text" placeholder="database" class="form-control"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Tables </label>
    <div class="col-sm-6">
        <input ng-list="," ng-model="node.nodeConfigJson.tableNames" type="text" placeholder="tables" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Dml </label>
    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.dml" type="text" placeholder="dml" class="form-control"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Ddl </label>
    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.ddl" type="text" placeholder="ddl" class="form-control"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Transaction </label>
    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.transaction" type="text" placeholder="transaction" class="form-control"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> BinlogInfo </label>
    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.binlogInfo.timestamp" type="text" placeholder="binlogInfo" class="form-control"/>
    </div>
</div>
