<!DOCTYPE html>
<html lang="en">
<head>
#parse("header.htm")
<script>
	//环境变量
	window.contextpath = "${rc.contextPath}";
	window.app = "${app}";
	window.pageid = "${pageid}";
	window.codeLastModifiedTime = new Date();
	window.codeLastCompiledTime = 0;
	window.tempCodeLastCompiledTime;
	window.resModified = false;
</script>
</head>

<body>
   #parse("navbar.htm")

   <div class="tabbable tabs-left"
      style="margin: 0 auto; margin-top: 0px; margin-left: 30px; margin-bottom: 50px; height: 500px;">
      <ul class="nav nav-tabs" style="font-size: 14px">
         <li class=""><a data-toggle="tab" href="#lA">pom.xml</a></li>
         <li class=""><a data-toggle="tab" href="#lB">resource</a></li>
         <li class="active"><a data-toggle="tab" href="#lC">java</a></li>
      </ul>
      <div class="tab-content">
         <div id="lA" class="tab-pane">#parse("pom.htm")</div>
         <div id="lB" class="tab-pane">#parse("resources.htm")</div>
         <div id="lC" class="tab-pane active">#parse("java.htm")</div>
      </div>
   </div>


   <!-- 错误消息弹出框 -->
   <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
      tabindex="-1" class="modal hide fade" id="errorMsg"
      style="display: none;">
      <div class="modal-header">
         <button aria-hidden="true" data-dismiss="modal" class="close"
            type="button">×</button>
         <h3></h3>
      </div>
      <div class="modal-body">
         <p></p>
      </div>
      <div class="modal-footer">
         <button data-dismiss="modal" class="btn">关闭</button>
      </div>
   </div>

   #parse("foot.htm")

   <!-- Le javascript
    ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script type="text/javascript"
      src="${rc.contextPath}/javascripts/bootstrap/jquery-1.7.2.js"></script>
   <script type="text/javascript"
      src="${rc.contextPath}/javascripts/bootstrap/bootstrap.js"></script>
   <script type="text/javascript"
      src="${rc.contextPath}/javascripts/rundemo_app.js?t=20120910"></script>
   <script src="${rc.contextPath}/javascripts/ace-src-min/ace.js"
      type="text/javascript"></script>

</body>
</html>
