<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
      <div class="container-fluid">
         <a class="btn btn-navbar" data-toggle="collapse"
            data-target=".nav-collapse"> <span class="icon-bar"></span>
         </a> <a class="brand" href="${rc.contextPath}/">RunDemo</a>
         <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
               <!-- 欢迎您， <a href="#" class="navbar-link">游侠</a>  -->
               <a class="navbar-link" href="${rc.contextPath}/"><img alt="" style="height:36px"
               src="${rc.contextPath}/images/small-logo.png"></a>
            </p>
            
            <ul class="nav">
               #if(${app})
               <li><a href="${rc.contextPath}/">所有应用</a></li>
               <li class="active"><a
                  href="${rc.contextPath}/${app}">${app}</a></li> #end
            </ul>
         </div>
         <!--/.nav-collapse -->
      </div>
   </div>
</div>