<div class="container"
   style="text-align: center; margin: 0 auto; width: 100%; margin-bottom: 50px; height: 500px">
   <div id="accordion2" class="accordion">
      <div class="accordion-group">
         <div class="accordion-heading ins-header">
            <a href="#collapseTwo" data-parent="#accordion2"
               data-toggle="collapse" class="accordion-toggle">
               Mysql Instance1 &nbsp;&nbsp; <img
               src="${rc.contextPath}/images/jiantou-right-green.gif" />&nbsp;&nbsp;
               Mysql Instance1
            </a>
         </div>
         <div class="accordion-body collapse ins-body" id="collapseTwo"
            style="height: 0px;">
            <div class="accordion-inner">Anim pariatur cliche
               reprehenderit, enim eiusmod high life accusamus terry
               richardson ad squid. 3 wolf moon officia aute, non
               cupidatat skateboard dolor brunch. Food truck quinoa
               nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
               aliqua put a bird on it squid single-origin coffee nulla
               assumenda shoreditch et. Nihil anim keffiyeh helvetica,
               craft beer labore wes anderson cred nesciunt sapiente ea
               proident. Ad vegan excepteur butcher vice lomo. Leggings
               occaecat craft beer farm-to-table, raw denim aesthetic
               synth nesciunt you probably haven't heard of them
               accusamus labore sustainable VHS.</div>
         </div>
      </div>
      <div class="accordion-group">
         <div class="accordion-heading ins-header">
            <a href="#collapseThree" data-parent="#accordion2"
               data-toggle="collapse" class="accordion-toggle">
               Mysql Instance1 &nbsp;&nbsp; <img
               src="${rc.contextPath}/images/jiantou-right-green.gif" />&nbsp;&nbsp;
               Mysql Instance1
            </a>
         </div>
         <div class="accordion-body collapse ins-body"
            id="collapseThree" style="height: 0px;">
            <div class="accordion-inner">Anim pariatur cliche
               reprehenderit, enim eiusmod high life accusamus terry
               richardson ad squid. 3 wolf moon officia aute, non
               cupidatat skateboard dolor brunch. Food truck quinoa
               nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
               aliqua put a bird on it squid single-origin coffee nulla
               assumenda shoreditch et. Nihil anim keffiyeh helvetica,
               craft beer labore wes anderson cred nesciunt sapiente ea
               proident. Ad vegan excepteur butcher vice lomo. Leggings
               occaecat craft beer farm-to-table, raw denim aesthetic
               synth nesciunt you probably haven't heard of them
               accusamus labore sustainable VHS.</div>
         </div>
      </div>
      <div class="accordion-group">
         <div class="accordion-heading ins-header">
            <a href="#collapseOne" data-parent="#accordion2"
               data-toggle="collapse" class="accordion-toggle">
               Mysql Instance1 &nbsp;&nbsp; <img
               src="${rc.contextPath}/images/jiantou-right-yellow.gif" />&nbsp;&nbsp;
               Mysql Instance1
            </a>
         </div>
         <div class="accordion-body collapse ins-body" id="collapseOne"
            style="height: 0px;">
            <div class="accordion-inner">
               <!-- db-begin -->
               <div class="container"
                  style="margin: 0 auto; width: 100%; margin-bottom: 0px;">
                  <div id="accordion3" class="accordion">
                     <div class="accordion-group">
                        <div class="accordion-heading db-header">
                           <a href="#collapseOne_1"
                              data-parent="#accordion3"
                              data-toggle="collapse"
                              class="accordion-toggle"> DB1
                              &nbsp;&nbsp; <img
                              src="${rc.contextPath}/images/jiantou-right-yellow-db.gif" />&nbsp;&nbsp;
                              DB1
                           </a>
                        </div>
                        <div class="accordion-body collapse db-body"
                           id="collapseOne_1" style="height: 0px;">
                           <div class="accordion-inner">
                              <!-- table-begin -->
                              <div id="table1" class="accordion">
                                 <div class="accordion-group">
                                    <div
                                       class="accordion-heading table-header">
                                       <a href="#table1_body"
                                          data-parent="#table1"
                                          data-toggle="collapse"
                                          class="accordion-toggle">
                                          Table1 &nbsp;&nbsp; <img
                                          src="${rc.contextPath}/images/jiantou-right-green-table.gif" />&nbsp;&nbsp;
                                          Table1
                                       </a>
                                    </div>
                                    <div
                                       class="accordion-body collapse table-body"
                                       id="table1_body"
                                       style="height: 0px;">
                                       <div class="accordion-inner">
                                          table的消息信息</div>
                                    </div>
                                 </div>
                                 <div class="accordion-group">
                                    <div
                                       class="accordion-heading table-header">
                                       <a href="#table2_body"
                                          data-parent="#table1"
                                          data-toggle="collapse"
                                          class="accordion-toggle">
                                          Table1 &nbsp;&nbsp; <img
                                          src="${rc.contextPath}/images/jiantou-right-green-table.gif" />&nbsp;&nbsp;
                                          Table1
                                       </a>
                                    </div>
                                    <div
                                       class="accordion-body collapse table-body"
                                       id="table2_body"
                                       style="height: 0px;">
                                       <div class="accordion-inner">
                                          table的消息信息</div>
                                    </div>
                                 </div>
                              </div>
                              <!-- table-end -->
                           </div>
                        </div>
                     </div>
                     <div class="accordion-group">
                        <div class="accordion-heading db-header">
                           <a href="#collapseOne_2"
                              data-parent="#accordion3"
                              data-toggle="collapse"
                              class="accordion-toggle"> DB2
                              &nbsp;&nbsp; <img
                              src="${rc.contextPath}/images/jiantou-right-green-db.gif" />&nbsp;&nbsp;
                              DB2
                           </a>
                        </div>
                        <div class="accordion-body collapse db-body"
                           id="collapseOne_2" style="height: 0px;">
                           <div class="accordion-inner"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- db-end -->
            </div>
         </div>
      </div>
   </div>

   <!--  
      <div id="node0"
         style="position: absolute; left: 100px; top: 150px;">ss</div>
      <div id="node1"
         style="position: absolute; left: 100px; top: 550px;">tt</div>
 -->
</div>