<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"> Begin Time </label>

        <div class="col-sm-6">
            <div class="dropdown">
                <a class="dropdown-toggle" id="InitTime" role="button" data-toggle="dropdown">
                    <div class="input-group"><input type="text" class="form-control"
                                                    data-ng-model="item.InitTime"><span
                            class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="item.InitTime"/>
                </ul>
            </div>
        </div>
    </div>
</form>