{{item.className = 'ShardDataSourceBuilder';"" }}


<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"> Rule Name </label>

        <div class="col-sm-6">
            <input ng-model="item.ruleName" type="text" placeholder="Rule Name" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"> Table Name </label>

        <div class="col-sm-6">
            <input ng-model="item.tableName" type="text" placeholder="Table Name" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"> Dimension Index </label>

        <div class="col-sm-6">
            <input ng-model="item.dimensionIndex" type="number" placeholder="Dimension Index" class="form-control"/>
        </div>
    </div>
</form>
