<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"> Id Column </label>

        <div class="col-sm-6">
            <input ng-model="item.idName" type="text" placeholder="Id Column Name" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"> UpdateTime Column </label>

        <div class="col-sm-6">
            <input ng-model="item.updateTimeName" type="text" placeholder="UpdateTime Column Name"
                   class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"> Columns </label>

        <div class="col-sm-6">
            <input ng-model="item.columns" type="text" placeholder="ID,Name,UpdateTime" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"> Table Name </label>

        <div class="col-sm-6">
            <input ng-model="item.tableName" type="text" placeholder="Table Name" class="form-control"/>
        </div>
    </div>
</form>
