UPDATE
`${event.table}`
SET
#foreach($name2ColumnInfo in $event.columns.entrySet())
    `${name2ColumnInfo.key}` = ?
  #if($velocityCount < ${event.columns.size()})
     ,
  #end
#end

#set($hasKey = false )

WHERE
#foreach($name2ColumnInfo in $event.columns.entrySet())
  #if(${name2ColumnInfo.value.isKey})
    `${name2ColumnInfo.key}` = ?
    #set($hasKey = true )
  #end
  #if($hasKey)
     AND
  #end
#end