<!-- model.node -->
<!-- model.node.pipeIndex -->
<!-- model.node.concurrent -->

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Pipeline Index </label>

    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.pipeIndex" type="text"
               placeholder={{$index}} value={{$index}} class="form-control" readonly="readonly"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right"> Concurrent </label>

    <div class="col-sm-6">
        <input ng-model="node.nodeConfigJson.concurrent" type="text"
               placeholder={{$index}} value={{$index}} class="form-control"/>
    </div>
</div>