#set($layout = "shareLayout.htm")
<div class="container" style="width: 1240px;">
   <div class="row">
      <div class="span3">
         <ul class="well nav nav-pills nav-stacked">
            <!--   <ul class="well nav nav-list affix">   -->
            <!--<li class="$!{readmeActive}"><a
               href="${rc.contextPath}/readme"><i
                  class="icon-file #if(${readmeActive})icon-white #end"></i>
                  使用说明 </a></li>
            <li class="divider_line"></li>-->
            <li class="nav-header"><i class="icon-tasks"></i> 配置管理</li>
            <li class="$!{mysqlSettingActive}"><a
               href="${rc.contextPath}/mysqlSetting"><i
                  class="icon-wrench #if(${mysqlSettingActive})icon-white #end"></i>
                  数据源配置 </a></li>
            <li class="$!{pumaServerSettingActive}"><a
               href="${rc.contextPath}/pumaServerSetting"><i
                  class="icon-wrench #if(${pumaServerSettingActive})icon-white #end"></i>
                  PumaServer配置 </a></li>
            <li class="$!{pumaSyncServerSettingActive}"><a
               href="${rc.contextPath}/pumaSyncServerSetting"><i
                  class="icon-wrench #if(${pumaSyncServerSettingActive})icon-white #end"></i>
                  PumaSyncServer配置 </a></li>
            <li class="divider_line"></li>
            <li class="nav-header"><i class="icon-tasks"></i> 同步功能</li>
            <li class="$!{createdActive}"><a
               href="${rc.contextPath}/created"><i
                  class="icon-ok-circle #if(${createdActive})icon-white #end"></i>
                  已有的任务 </a></li>
            <li class="$!{createActive}"><a
               href="${rc.contextPath}/create"><i
                  class="icon-plus #if(${createActive})icon-white #end"></i>
                  创建同步任务 </a></li>

            <li class="divider_line"></li>
            <li class="nav-header">
               <i class="icon-cog"></i> 主从复制功能
            </li>
            <li>
               <a href="${rc.contextPath}/dbInstanceConfig">
                  <i class="icon-wrench"></i> 数据库实例配置
               </a>
            </li>
            <li>
               <a href="${rc.contextPath}/serverConfig">
                  <i class="icon-wrench"></i> PumaServer配置
               </a>
            </li>
            <li>
               <a href="${rc.contextPath}/replicationTask">
                  <i class="icon-time"></i> 当前任务
               </a>
            </li>

            <!-- <li class="$!{modifyActive}"><a
               href="${rc.contextPath}/modify"><i
                  class="icon-edit #if(${modifyActive})icon-white #end"></i>
                  修改同步任务 </a></li>-->
            <!-- <li class="$!{deleteActive}"><a
               href="${rc.contextPath}/delete"><i
                  class="icon-remove-circle #if(${deleteActive})icon-white #end"></i>
                  删除同步任务 </a></li>-->
            <li class="divider_line"></li>
         </ul>
      </div>
      #if(${subPath})
      <div class="span12">#parse("main/${path}/${subPath}.htm")</div>
      #else
      <div class="span12">#parse("main/${path}/main.htm")</div>
      #end
   </div>
</div>

