<div class="container-fluid">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <div class="btn-group-sm pull-right">
            <button class="btn btn-default" onclick="javascript:history.back();">取消</button>
            <button class="btn btn-success" type="submit" form="puma-task-create-form"
                    #if(${lock}) disabled="disabled" #end>保存</button>
         </div>
         <h5>
            新增数据处理任务 #if(${lock})<span class="orange-warning">(已锁定，请先删除相关任务)</span>#end
         </h5>
      </div>

      <form id="puma-task-create-form" class="form-horizontal puma-form" method="post"
            action="${rc.contextPath}/puma-task/create" target="${rc.contextPath}/puma-task">
         <div class="panel-body">

            #if(${entity})
            <div class="form-group" hidden="hidden">
               <label class="sr-only" for="id"></label>
               <input id="id" name="id" value="${entity.id}">
            </div>
            #end

            <div class="form-group">
               <label class="col-md-2 control-label" for="srcDBInstanceId">源数据库</label>
               <div class="col-md-7">
                  <select id="srcDBInstanceId" name="srcDBInstanceId" class="form-control">
                     #foreach($srcDBInstance in ${srcDBInstanceEntities})
                     <option value="${srcDBInstance.id}">
                        ${srcDBInstance.name}
                     </option>
                     #end
                  </select>
               </div>
               <div class="col-md-3" hidden="hidden">
                  <p class="help-block">hello</p>
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="pumaServerId">数据处理服务器</label>
               <div class="col-md-7">
                  <select id="pumaServerId" name="pumaServerId" class="form-control">
                     #foreach($pumaServer in ${pumaServerEntities})
                     <option value="${pumaServer.id}">${pumaServer.name}</option>
                     #end
                  </select>
               </div>
               <div class="col-md-3" hidden="hidden">
                  <p class="help-block">hello</p>
               </div>
            </div>

            <div class="form-group has-feedback">
               <label class="col-md-2 control-label" for="binlogFile">数据库日志</label>
               <div class="col-md-5">
                  <input id="binlogFile" name="binlogFile" class="form-control validation-input" format="bin-log-file">
               </div>

               <label class="sr-only" for="binlogPosition">数据库日志位置</label>
               <div class="col-md-2">
                  <input id="binlogPosition" name="binlogPosition" class="form-control validation-input" format="bin-log-position">
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="preservedDay">数据存储天数</label>
               <div class="col-md-7">
                  <input id="preservedDay" name="preservedDay" class="form-control validation-input" format="day">
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
