<div class="container" style="margin: 0 auto; width: 100%; margin-bottom: 50px;">
   <div>
      <form id="databaseForm" class="form-horizontal" method="post"
            onsubmit="submit0(this);return false;" onSuccess="onSuccess"
            action="${rc.contextPath}/replicationTask/create">
         <button type="submit" style="float: right;" class="btn btn-success">
            下一步</a>
         </button>

         <p class="legend">基本设置</p>

         <div class="form-group">
            <label for="dbInstanceName" class="control-label col-md-2">源数据库</label>
            <div class="col-md-6">
               <select id="dbInstanceName" name="dbInstanceName" class="form-control">
                  #foreach($dbInstanceConfig in ${dbInstanceConfigs})
                  <option value="${dbInstanceConfig.name}">${dbInstanceConfig.name}</option>
                  #end
               </select>
            </div>
         </div>

         <div class="form-group">
            <label for="serverName" class="control-label col-md-2">主从复制服务器</label>
            <div class="col-md-6">
               <select id="serverName" name="serverName" class="form-control">
                  #foreach($serverConfig in ${serverConfigs})
                  <option value="${serverConfig.name}">${serverConfig.name}</option>
                  #end
               </select>
            </div>
         </div>

         <div class="form-group">
            <label for="binlogFile" class="control-label col-md-2">日志文件</label>
            <div class="col-md-6">
               <input id="binlogFile" name="binlogFile" type="text" class="form-control">
            </div>
         </div>

         <div class="form-group">
            <label for="binlogPosition" class="control-label col-md-2">日志位置</label>
            <div class="col-md-6">
               <input id="binlogPosition" name="binlogPosition" type="text" class="form-control">
            </div>
         </div>

         <p class="legend">高级设置</p>

         <div class="form-group">
            <label for="taskName" class="control-label col-md-2">任务名称</label>
            <div class="col-md-6">
               <input id="taskName" name="taskName" type="text" class="form-control">
            </div>
         </div>

         <div class="form-group">
            <label for="masterStorageBaseDir" class="control-label col-md-2">主存储文件路径</label>
            <div class="col-md-6">
               <input id="masterStorageBaseDir" name="masterStorageBaseDir" type="text" class="form-control">
            </div>
         </div>

         <div class="form-group">
            <label for="masterBucketFilePrefix" class="control-label col-md-2">主存储文件前缀</label>
            <div class="col-md-6">
               <input id="masterBucketFilePrefix" name="masterBucketFilePrefix" type="text" class="form-control">
            </div>
         </div>

         <div class="form-group">
            <label for="maxMasterBucketLengthMB" class="control-label col-md-2">主存储文件大小</label>
            <div class="col-md-6">
               <input id="maxMasterBucketLengthMB" name="maxMasterBucketLengthMB" type="text" class="form-control">
            </div>
         </div>

         <div class="form-group">
            <label for="maxMasterFileCount" class="control-label col-md-2">主存储文件数目</label>
            <div class="col-md-6">
               <input id="maxMasterFileCount" name="maxMasterFileCount" type="text" class="form-control">
            </div>
         </div>

         <div class="form-group">
            <label for="slaveStorageBaseDir" class="control-label col-md-2">副存储文件路径</label>
            <div class="col-md-6">
               <input id="slaveStorageBaseDir" name="slaveStorageBaseDir" type="text" class="form-control">
            </div>
         </div>

         <div class="form-group">
            <label for="slaveBucketFilePrefix" class="control-label col-md-2">副存储文件前缀</label>
            <div class="col-md-6">
               <input id="slaveBucketFilePrefix" name="slaveBucketFilePrefix" type="text" class="form-control">
            </div>
         </div>

         <div class="form-group">
            <label for="maxSlaveBucketLengthMB" class="control-label col-md-2">副存储文件大小</label>
            <div class="col-md-6">
               <input id="maxSlaveBucketLengthMB" name="maxSlaveBucketLengthMB" type="text" class="form-control">
            </div>
         </div>

         <div class="form-group">
            <label for="maxSlaveFileCount" class="control-label col-md-2">副存储文件数目</label>
            <div class="col-md-6">
               <input id="maxSlaveFileCount" name="maxSlaveFileCount" type="text" class="form-control">
            </div>
         </div>

         <div class="form-group">
            <label for="preservedDay" class="control-label col-md-2">存储文件保存天数</label>
            <div class="col-md-6">
               <input id="preservedDay" name="preservedDay" type="number" class="form-control">
            </div>
         </div>

         <div class="form-group">
            <label for="binlogIndexBaseDir" class="control-label col-md-2">日志索引保存路径</label>
            <div class="col-md-6">
               <input id="binlogIndexBaseDir" name="binlogIndexBaseDir" type="text" class="form-control">
            </div>
         </div>

         <input id="syncXml" type="hidden" name="syncXml" value="">
      </form>
   </div>
</div>
<script>
   function submit0(form) {
      //$("#syncXml").val(window.xmlEditor.getValue());
      $.ajax({
         type : $(form).attr('method'),
         url : $(form).attr('action'),
         data : $(form).serialize(),
         dataType : "json",
         success : onSuccess,
         error : pumadmin.httpError
      });
      return false;
   }
   function onSuccess(data) {
      if (data.success == false) {
         pumadmin.appError("错误信息", data.errorMsg);
      } else {
         window.location = "${rc.contextPath}/replicationTask";
      }
   }
   function loadXmlSample() {
      var param = new Object();
      var url = window.contextpath + '/create/loadXmlSample';
      $.ajax({
         type : 'POST',
         url : url,
         data : param,
         dataType : "json",
         success : loadXmlSampleDone,
         error : pumadmin.httpError
      });
   }
   function loadXmlSampleDone(data) {
      if (data.success == false) {
         pumadmin.appError("错误信息", data.errorMsg);
      } else {
         //window.xmlEditor.setValue(data.sampleXml);
         //window.xmlEditor.moveCursorTo(0, 0);
      }
   }
</script>
