<div class="container"
     style="margin: 0 auto; width: 100%; margin-bottom: 50px;">
    <div>
        <a style="float: right;" href="${rc.contextPath}/replicationTask/create">
            <span>新任务</span>
        </a>
        <p class="legend">已有的配置</p>
        <div id="container" style="height: 600px;">
            <div class="container-fluid">
                <div class="row-fluid">
                    <table class="table table-hover table-striped">

                        <thead>
                        <tr>
                            <th>数据库实例</th>
                            <th>Puma Server</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        #foreach($replicationTask in ${replicationTasks})
                        <tr>
                            <td>${replicationTask.dbInstanceName}</td>
                            <td>${replicationTask.replicationServerName}</td>
                            <td>
                                <a href="javascript:pumadmin.openDelReplicationTaskModal('${replicationTask.id}')">
                                    <span class="label">删除 »</span>
                                </a>
                            </td>
                        </tr>
                        #end
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" data-backdrop="true" role="dialog" tabindex="-1"
     class="modal hide" id="delReplicationTaskModal" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close"
                type="button">×</button>
        <h3>删除配置</h3>
    </div>
    <form action="${rc.contextPath}/replicationTask/delete"
          method="post" onsubmit="pumadmin.submit(this);return false;"
          onSuccess="deleteReplicationTaskDone">
        <div class="modal-body">
            <p style="text-align: center;">
                <i class="icon-warning-sign"></i> 您是否确定要删除该配置 ？
            </p>
            <input id="delId" name="id" type="hidden" value="">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">确定</button>
            <button data-dismiss="modal" class="btn">取消</button>
        </div>
    </form>
</div>

