<div class="container"
     style="margin: 0 auto; width: 100%; margin-bottom: 50px;">
    <div>
        <a style="float: right;" href="${rc.contextPath}/replicationTask/create">
            <span>新任务</span>
        </a>
        <p class="legend">已有的配置</p>
        <div id="container" style="height: 600px;">
            <div class="container-fluid">
                <div class="row-fluid">
                    <table class="table table-hover table-striped">

                        <thead>
                        <tr>
                            <th>源数据库实例</th>
                            <th>主从复制服务器</th>
                            <th>状态</th>
                            <th>日志进度</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        #foreach($replicationTask in ${replicationTasks})
                        <tr>
                            <td>${replicationTask.dbInstanceName}</td>
                            <td>${replicationTask.replicationServerName}</td>
                            <td id="status"></td>
                            <td id="binlogInfo"></td>
                            <td>
                                <a id="refresh"
                                   task-id="$replicationTask.taskId"
                                   class="btn btn-mini btn-info"
                                   style="margin-left: 0">刷新
                                </a>
                                <a href="javascript:pumadmin.openDelReplicationTaskModal('${replicationTask.id}')">
                                    <span class="label">删除 »</span>
                                </a>
                            </td>
                        </tr>
                        #end
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" data-backdrop="true" role="dialog" tabindex="-1"
     class="modal hide" id="delReplicationTaskModal" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close"
                type="button">×</button>
        <h3>删除配置</h3>
    </div>
    <form action="${rc.contextPath}/replicationTask/delete"
          method="post" onsubmit="pumadmin.submit(this);return false;"
          onSuccess="deleteReplicationTaskDone">
        <div class="modal-body">
            <p style="text-align: center;">
                <i class="icon-warning-sign"></i> 您是否确定要删除该配置 ？
            </p>
            <input id="delId" name="id" type="hidden" value="">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">确定</button>
            <button data-dismiss="modal" class="btn">取消</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="/style/bs/jquery-1.7.2.js"></script>
<script>

    $("#refresh").click(function() {
        refreshReplicationTaskStatus($(this).attr('task-id'));
    });

    function refreshReplicationTaskStatus(taskId) {
        var url = window.contextpath + '/replicationTask/refresh';
        $.ajax(url, {
            type    : 'POST',
            data    : {taskId: taskId},
            dataType: 'json',
            success : showReplicationTaskStatus(taskId),
            error   : pumadmin.httpError
        });
    }

    function showReplicationTaskStatus(taskId) {
        return function(data) {
            if (!data.success) {
                pumadmin.appError('错误信息', data.errorMsg);
            } else {
                var status = data.status;
                var text = status.status;
                var binlogInfo = status.binlogInfo;


                if (!binlogInfo) {
                    $("#binlogInfo").text('--');
                } else {

                }
            }
        }
    }

</script>
