<!-- basic scripts -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/app/lib/assets/js/jquery.min.js'>"+"<"+"/script>");
</script>

<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/app/lib/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/app/lib/assets/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->
<script src="/app/lib/assets/js/ace-elements.min.js"></script>
<script src="/app/lib/assets/js/ace.min.js"></script>
<script src="/app/lib/assets/js/ace-extra.min.js"></script>

<!-- inline scripts related to this page -->

<script type="text/javascript"> ace.vars['base'] = '..'; </script>
<script src="/app/lib/assets/js/ace/elements.onpage-help.js"></script>
<script src="/app/lib/assets/js/ace/ace.onpage-help.js"></script>
<script src="/app/lib/docs/assets/js/rainbow.js"></script>
<script src="/app/lib/docs/assets/js/language/generic.js"></script>
<script src="/app/lib/docs/assets/js/language/html.js"></script>
<script src="/app/lib/docs/assets/js/language/css.js"></script>
<script src="/app/lib/docs/assets/js/language/javascript.js"></script>