<div ng-controller="pumaTargetController">

    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>

            <li class="active">Puma Target</li>
        </ul>

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input"
                           id="nav-search-input" autocomplete="off"/>
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div>

    </div>

    <div class="page-content">

        <div class="col-sm-6">
            <div class="widget-box">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title lighter">Search Target</h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-search">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control search-query"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-purple btn-sm">
                                                Search
                                                <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="widget-box">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title lighter">Target Tables</h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-search">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control search-query"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-purple btn-sm">
                                                Submit
                                                <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>

        <!--div ng-repeat=""-->

            <div class="col-sm-4">
                <div class="widget-box">
                    <div class="widget-header">

                        <h4 class="widget-title">Server</h4>

                        <span class="widget-toolbar">

                            <a href="#" data-action="reload">
                                <i class="ace-icon fa fa-refresh"></i>
                            </a>

                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>

                            <a href="#" data-action="close">
                                <i class="ace-icon fa fa-times"></i>
                            </a>
                        </span>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">

                            <table class="table">
                                <tr>
                                    <td class="col-sm-3">Server</td>
                                    <td class="col-sm-9">
                                        <input class="form-control " type="text" id="form-field-mask-2" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="col-sm-3">Begin</td>
                                    <td class="col-sm-9">
                                        <input class="form-control" type="text" id="form-field-mask-3" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="col-sm-3">Weight</td>
                                    <td class="col-sm-9">
                                        <input class="form-control" type="text" id="form-field-mask-4" />
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        <!--/div-->

        <div ng-repeat="server in servers">
            <table class="table table-hover">
                <tr>
                    <th>KEY</th>
                    <th>VALUE</th>
                </tr>
                <tr>
                    <td>host</td>
                    <td>
                        <input ng-model="server">
                    </td>
                </tr>
                <tr>
                    <td>active</td>
                    <td>
                        <input value="true">
                    </td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>
                        <input value="1">
                    </td>
                </tr>
            </table>

        </div>

    </div>

</div>
