<div ng-controller="pumaCreateController">

    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>

            <li class="active">Puma Create</li>
        </ul>

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input"
                           id="nav-search-input" autocomplete="off"/>
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div>

    </div>

    <div class="page-content">

        <div class="page-content-area">

            <div class="row">

                <div class="col-sm-12">

                    <div class="row">

                        <div class="space-4"></div>

                        <div class="col-sm-12">
                            <div class="well">
                                <h4 class="green smaller lighter">Create Puma Database</h4>
                                Choose the database and tables first, then pick servers for the database to run on and
                                set the begin time finally.
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="widget-box">
                                <div class="widget-header widget-header-large">
                                    <h5 class="widget-title lighter">Puma Database Configurations</h5>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">

                                        <form class="form-horizontal" role="form">

                                            <div class="space-4"></div>

                                            <!--div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right"
                                                       for="form-database"> Database </label>

                                                <div class="col-sm-6">
                                                    <autocomplete id="form-database"
                                                                  ng-model="outputDatabase"
                                                                  data="inputDatabases"
                                                                  attr-inputClass="input-xxlarge"
                                                                  attr-placeholder="input database...">
                                                </div>
                                            </div-->

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right"
                                                       for="form-database"> Database </label>

                                                <div class="col-sm-6">
                                                    <div class="input-group">
                                                        <input id="form-database" type="text" class="form-control" ng-model="outputDatabase"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-bullseye bigger-110"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- /section:elements.form -->
                                            <div class="space-4"></div>

                                            <div class="space-4"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right"
                                                       for="form-servers"> Tables </label>

                                                <div class="col-sm-6">
                                                    <isteven-multi-select
                                                            id="form-tables"
                                                            input-model="inputTables"
                                                            output-model="outputTables"
                                                            button-label="name"
                                                            item-label="name"
                                                            on-open="findTables()"
                                                            tick-property="ticked"
                                                            max-height="200px"
                                                            output-properties="name"
                                                            >
                                                    </isteven-multi-select>
                                                </div>
                                            </div>

                                            <div class="space-4"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right"
                                                       for="form-servers"> Servers </label>

                                                <div class="col-sm-6">
                                                    <isteven-multi-select
                                                            id="form-servers"
                                                            input-model="inputServers"
                                                            output-model="outputServers"
                                                            button-label="name"
                                                            item-label="name"
                                                            tick-property="ticked"
                                                            max-height="200px"
                                                            output-properties="name"
                                                            >
                                                    </isteven-multi-select>
                                                </div>
                                            </div>

                                            <div class="space-4"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right"
                                                       for="form-begin-time"> Begin Time </label>

                                                <div class="col-sm-6">
                                                    <div class="input-group" style="z-index: 0">
                                                        <input id="form-begin-time" type="text" class="form-control"
                                                               ng-model="beginTime"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o bigger-110"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                        <hr/>

                                        <p align="right">
                                            <span class="btn btn-info btn-sm" ng-click="reset()">Reset</span>
                                            <span class="btn btn-success btn-sm" ng-click="submit()">Submit</span>
                                        </p>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

