<div>
    <form class="form-horizontal" role="form">

        <div ng-repeat="target in targets"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="database">Database</label>
            <input id="database" class="col-sm-6" ng-model="target.database">
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="tables">Tables</label>
            <textarea id="tables" class="col-sm-6" ng-model="target.tables"></textarea>
        </div>

        <div class="form-group">
            <select class="col-sm-2">
                <option value="custom">custom</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>

        <div class="form-group">
            <select class="col-sm-3">
                <option value="oldest"></option>
                <option value="latest"></option>
                <option value="custom"></option>
            </select>
        </div>

        <button ng-click="submit()">Submit</button>

    </form>
</div>

<form class="form-horizontal" role="form">

    <div class="puma-form-group-start"></div>
    <!-- #section:elements.form -->
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"
               for="form-field-1">源数据库</label>

        <div class="col-sm-10">
            <select id="form-field-1" placeholder="源数据库"
                    class="puma-form-select col-xs-10 col-sm-5"
                    ng-model="entity.srcDBInstanceName"
                    ng-disabled="entity.disabled"
                    ng-options="o.name as o.name for o in srcDBInstanceEntities">
                <option value="">请选择源数据库</option>
            </select>
        </div>
    </div>
    <div ng-repeat="item in entity.pumaServerDtos">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"
                   for="form-field-1"> 数据处理服务器 </label>

            <div class="col-sm-10">
                <select id="form-field-1" placeholder="数据处理服务器"
                        class="col-xs-10 col-sm-5 puma-form-select"
                        ng-model="item.name"
                        ng-options="o.name as o.name for o in pumaServerEntities">
                    <option value="">请选择数据处理服务器</option>
                </select>
                <div class="puma-form-operation">
                    <a class="blue" href="javascript:void(0)" ng-click="addMark(entity.pumaServerDtos)">
                        <i class="ace-icon fa fa-plus-circle bigger-150"></i>
                    </a> &nbsp;&nbsp;&nbsp; <a class="blue" href="javascript:void(0)" ng-click="removeMark(entity.pumaServerDtos,$index)">
                    <i class="ace-icon fa fa-trash-o bigger-150"></i>
                </a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"
               for="form-field-1"> 任务名称 </label>

        <div class="col-sm-10">
            <input id="form-field-1" type="text" class="col-xs-10 col-sm-5"
                   ng-model="entity.name" ng-readonly="entity.disabled"
                   placeholder="任务名称" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"
               for="form-field-1"> 数据库日志 </label>

        <div class="col-sm-10">
            <input id="form-field-1" class="col-xs-10 col-sm-3" type="text"
                   ng-model="entity.binlogFile" placeholder="文件名" />
            <input id="
										binlogPosition" name="binlogPosition"
                   class="col-xs-10 col-sm-2" type="text"
                   ng-model="entity.binlogPosition" placeholder="位置" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right"
               for="form-field-1"> 存储天数 </label>

        <div class="col-sm-10">
            <input id="form-field-1" type="text" placeholder="存储天数"
                   class="col-xs-10 col-sm-5" ng-model="entity.preservedDay" />
        </div>
    </div>
    <div ng-repeat="item in entity.databases">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"
                   for="form-field-1"> 处理数据库 </label>

            <div class="col-sm-10">
                <input id="form-field-1" placeholder="处理数据库"
                       class="col-xs-10 col-sm-5" type="text"
                       ng-model="item.database" />
                <div class="puma-form-operation">
                    <a class="blue" href="javascript:void(0)" ng-click="addMark(entity.databases)">
                        <i class="ace-icon fa fa-plus-circle bigger-150"></i>
                    </a> &nbsp;&nbsp;&nbsp; <a class="blue" href="javascript:void(0)" ng-click="removeMark(entity.databases,$index)">
                    <i class="ace-icon fa fa-trash-o bigger-150"></i>
                </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"
                   for="form-field-1"> 数据库相关表 </label>

            <div class="col-sm-10">

										<textarea id="form-field-1"
                                                  class="col-xs-10 col-sm-5 puma-form-textarea" rows="4"
                                                  type="text" ng-model="item.tables"
                                                  placeholder='数据库相关表 填写格式 table&table&table'></textarea>

            </div>
        </div>

    </div>

    <div class="clearfix form-actions puma-form-actions">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-info" type="button" ng-click="submit()">
                <i class="ace-icon fa fa-check bigger-110""></i> 提交
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="button">
                <i class="ace-icon fa fa-undo bigger-110"></i> 重置
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn btn-info" type="button" ng-click="goBack()">
                <i class="ace-icon fa fa-backward bigger-110"></i> 返回
            </button>
        </div>
    </div>
</form>
