<div ng-controller="pumaTargetController">

    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>

            <li class="active">Puma Target</li>
        </ul>

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input"
                           id="nav-search-input" autocomplete="off"/>
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div>

    </div>

    <div class="page-content">

        <div class="page-content-area">

            <div class="row">

                <div class="col-sm-12">

                    <div class="row">

                        <div class="col-sm-4">
                            <div class="widget-box">
                                <div class="widget-header widget-header-small">
                                    <h5 class="widget-title lighter">Database</h5>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-search">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control search-query"
                                                               ng-model="pumaDto.database"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-purple btn-sm" ng-click="search()">
                                                Search
                                                <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                            </button>
                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="space-4"></div>

                    <!--div ng-show="checkShowWell()">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="well">
                                    <h4 class="green smaller lighter">Not a Puma Database</h4>
                                    Find puma database and corresponding details here. If the database is not setup yet, <a
                                        href="#/puma-create">CLICK HERE</a> to create a new puma database.
                                </div>
                            </div>

                        </div>

                        <div class="space-4"></div>
                    </div-->

                    <div>
                        <div class="row">

                            <div class="col-sm-8">
                                <div class="widget-box">
                                    <div class="widget-header widget-header-small">
                                        <h5 class="widget-title lighter">Tables</h5>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <form class="form-search">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <isteven-multi-select
                                                                id="form-tables"
                                                                input-model="allTables"
                                                                output-model="tables"
                                                                button-label="name"
                                                                item-label="name"
                                                                tick-property="selected"
                                                                max-height="200px"
                                                                output-properties="name"
                                                                >
                                                        </isteven-multi-select>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="space-4"></div>
                    </div>

                    <div ng-repeat="server in servers">

                        <div class="row">

                            <div class="col-sm-8">
                                <div class="widget-box">
                                    <div class="widget-header widget-header-small">
                                        <h5 class="widget-title lighter">Server-{{$index}}</h5>
                                        <span class="widget-toolbar">
                                            <!--input type="checkbox" class="js-switch" checked ng-model="server.registry"
                                                   ui-switch="{ size: 'small',  }" /-->
                                            <a href="" data-action="" ng-click="add()">
                                                <i class="ace-icon fa fa-plus"></i></a>
                                            <a href="" data-action="close" ng-click="delete(server)">
                                                <i class="ace-icon fa fa-times"></i></a>
                                        </span>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">

                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label no-padding-right"
                                                           for="server-name"> Server </label>

                                                    <div class="col-sm-6">
                                                        <!--input class="form-control" type="text" id="server-name" ng-model="serverName" disabled="true" ng-hide="(serverName === '')"/-->
                                                        <isteven-multi-select
                                                                id="server-name"
                                                                input-model="server.input"
                                                                output-model="server.output"
                                                                button-label="name"
                                                                item-label="name"
                                                                tick-property="selected"
                                                                max-height="200px"
                                                                output-properties="name"
                                                                selection-mode="single"
                                                                >
                                                        </isteven-multi-select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label no-padding-right"
                                                           for="server-weight"> Weight </label>

                                                    <div class="col-sm-6">
                                                        <input class="form-control" type="text" id="server-weight"/>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label no-padding-right"
                                                           for="form-begin-time-{{$index}}"> Begin Time </label>

                                                    <div class="col-sm-6">
                                                        <div class="dropdown">
                                                            <a id="form-begin-time-{{$index}}" class="dropdown-toggle"
                                                               role="button" data-toggle="dropdown" data-target="#"
                                                               href="">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control"
                                                                           data-ng-model="server.beginTime">
                                                                    <span class="input-group-addon"><i
                                                                            class="glyphicon glyphicon-calendar"></i></span>
                                                                </div>
                                                            </a>
                                                            <ul class="dropdown-menu" role="menu"
                                                                aria-labelledby="dLabel">
                                                                <datetimepicker data-ng-model="server.beginTime"
                                                                                data-datetimepicker-config="{
                                                                                dropdownSelector: '#form-begin-time-{{$index}}'}"/>
                                                            </ul>
                                                        </div>


                                                        <!--div class="dropdown">
                                                            <a class="dropdown-toggle my-toggle-select" role="button" data-toggle="dropdown" data-target="#" href="">
                                                                <div class="input-append">
                                                                    <input type="text" class="input-xxlarge" data-ng-model="server.beginTime | date: 'yyyy-MM-dd HH:mm'">
                                                                    <span class="add-on"><i
                                                                        class="icon-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </a>
                                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                <datetimepicker data-ng-model="server.beginTime"
                                                                                data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                                            </ul>
                                                        </div-->
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="space-4"></div>

                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <span class="btn btn-info btn-sm" ng-click="reset()">Reset</span>
                            <span class="btn btn-success btn-sm" ng-click="submit()">Submit</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
