<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try {
			ace.settings.check('breadcrumbs', 'fixed')
		} catch (e) {
		}
	</script>

	<ul class="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">主页</a>
		</li>

		<li class="active">数据同步任务编辑</li>
	</ul>
	<!-- /.breadcrumb -->
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">

	<!-- /section:settings.box -->
	<div class="page-content-area">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12" ng-app="formApp" ng-controller="formCtrl"
						ng-init="backUrl = '${rc.contextPath}/sync-task';initSyncTask('${rc.contextPath}/sync-task/find/${id}',${id})">
						<form class="form-horizontal" role="form">
							<div class="puma-form-group-start"></div>
							<!-- #section:elements.form -->
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> Server任务源 </label>

								<div class="col-sm-10">
									<select id="form-field-1" placeholder="Server任务源"
										class="puma-form-select col-xs-10 col-sm-5"
										ng-model="entity.pumaTaskName" ng-disabled="entity.disabled"
										ng-change="changeSyncTask()"
										ng-options="o.name as o.name for o in pumaTasks">
										<option value="">请选择Server任务源</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 目标实例 </label>

								<div class="col-sm-10">
									<select id="form-field-1" placeholder="目标实例"
										class="col-xs-10 col-sm-5 puma-form-select"
										ng-model="entity.dstDBInstanceName"
										ng-disabled="entity.disabled" ng-change="changeSyncTask()"
										ng-options="o.name as o.name for o in dstDBInstances">
										<option value="">请选择目标实例</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> Sync任务名称 </label>

								<div class="col-sm-10">
									<input id="form-field-1" type="text" class="col-xs-10 col-sm-5"
										ng-model="entity.name" ng-readonly="entity.disabled"
										placeholder="Sync任务名称" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> SyncServer服务器 </label>

								<div class="col-sm-10">
									<select id="form-field-1" placeholder="SyncServer服务器"
										class="col-xs-10 col-sm-5 puma-form-select"
										ng-model="entity.syncServerName" ng-disabled="entity.disabled"
										ng-options="o.name as o.name for o in syncServers">
										<option value="">请选择SyncServer服务器</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 数据库日志 </label>

								<div class="col-sm-10">
									<input id="form-field-1" class="col-xs-10 col-sm-3" type="text"
										ng-model="entity.binlogFile" placeholder="文件名" /> <input
										id="
										binlogPosition" name="binlogPosition"
										class="col-xs-10 col-sm-2" type="text"
										ng-model="entity.binlogPosition" placeholder="位置" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1"> 默认Handler </label>

								<div class="col-sm-10">
									<select id="form-field-1" class="col-xs-10 col-sm-5 puma-form-select"
										ng-model="entity.defaultHandler.name" placeholder="默认Handler">
										<option value="">请选择默认Handler</option>
										<option value="StopOnFailed">失败时停止</option>
										<option value="Retry">失败时重试</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">
									<input type="checkbox" ng-model="entity.ddl" id="id-file-format" class="ace">
									<span class="lbl"> ddl</span>
								</label>
								<div class="col-sm-10">
									<label class="col-sm-2 control-label">
										<input type="checkbox" ng-model="entity.dml" id="id-file-format" class="ace">
										<span class="lbl"> dml</span>
									</label>
									<label class="col-sm-2 control-label">
										<input type="checkbox" ng-model="entity.transaction" id="id-file-format" class="ace">
										<span class="lbl"> transaction </span>
									</label>
									<label class="col-sm-2 control-label">
										<input type="checkbox" ng-model="entity.consistency" id="id-file-format" class="ace">
										<span class="lbl"> consistency</span>									
									</label>
								</div>
							</div>
							
							<div ng-repeat="itemError in entity.errorList.errors">
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right"
										for="form-field-1"> Error And Handler </label>

									<div class="col-sm-10">
									 <select
											id="form-field-1" class="col-xs-10 col-sm-3 puma-form-select"
											ng-model="itemError.errorCode.errorCode" placeholder="Error"
											ng-options="o.errorCode as (o.errorCode +'('+o.desc+')') for o in errorSet.errorCodes">
											<option value="">请选择ErrorCode</option>
										</select>
										<label class="col-sm-1 control-label " for="form-field-1">  </label>
										 <select id="form-field-1" class="col-xs-10 col-sm-3 puma-form-select"
											ng-model="itemError.selectedHandler.name"
											placeholder="Handler"
											ng-options="o.name as o.name for o in errorSet.errorHandlers|filter: {errorCode: itemError.errorCode.errorCode}">
											<option value="">请选择Handler</option>
										</select> 
										<div class="puma-form-operation">
											<a class="blue" href="javascript:void(0)" ng-click="addMark(entity.errorList.errors)">
												<i class="ace-icon fa fa-plus-circle blue bigger-150"></i></a>
												&nbsp;&nbsp;&nbsp; <a class="blue" href="javascript:void(0)"
												ng-click="removeMark(entity.errorList.errors,$index)"> 
												<i class="ace-icon fa fa-trash-o bigger-150"></i>
											</a>
										</div>
									</div>
								</div>

							</div>
							<div class="puma-form-hr">映射关系</div>
							<div ng-repeat="itemDatabase in entity.mysqlMapping.databaseMappings">
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right"
										for="form-field-1"> 处理数据库 </label>

									<div class="col-sm-10">
										<input id="form-field-1" placeholder="源数据库"
											class="col-xs-10 col-sm-3" type="text"
											ng-model="itemDatabase.databaseFrom" /> 
											<label class="col-sm-1 control-label " for="form-field-1">  </label>
											<input
											id="form-field-1" placeholder="目标数据库"
											class="col-xs-10 col-sm-3" type="text"
											ng-model="itemDatabase.databaseTo" /> 
									</div>
								</div>
								<div ng-repeat="itemTable in itemDatabase.tableMappings">
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"
											for="form-field-1"> 相关表 </label>

										<div class="col-sm-10">

											<input id="form-field-1" placeholder="源表"
												class="col-xs-10 col-sm-3" type="text"
												ng-model="itemTable.tableFrom" />
												<label class="col-sm-1 control-label " for="form-field-1">  </label>
												 <input id="form-field-1"
												placeholder="目标表" class="col-xs-10 col-sm-3" type="text"
												ng-model="itemTable.tableTo" /> 
											<div class="puma-form-operation">
												<a class="blue" href="javascript:void(0)" ng-click="addMark(itemDatabase.tableMappings)">
													<i class="ace-icon fa fa-plus-circle blue bigger-150"></i></a>
													&nbsp;&nbsp;&nbsp; <a class="blue" href="javascript:void(0)"
													ng-click="removeMark(itemDatabase.tableMappings,$index)"> 
													<i class="ace-icon fa fa-trash-o bigger-150"></i>
												</a>
											</div>
										 </div>
									</div>
								</div>
							</div>
									<div class="clearfix form-actions puma-form-actions">
										<div class="col-md-offset-2 col-md-10">
											<button class="btn btn-info" type="button"
												ng-click="submit()">
												<i class="ace-icon fa fa-check bigger-110""></i> 提交
											</button>
											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="button">
												<i class="ace-icon fa fa-undo bigger-110"></i> 重置
											</button>
											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-info" type="button"
												ng-click="goBack()">
												<i class="ace-icon fa fa-backward bigger-110"></i> 返回
											</button>
										</div>
									</div>
						</form>
					</div>
				</div>


			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
</div>
<!-- /.page-content -->
