<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try {
			ace.settings.check('breadcrumbs', 'fixed')
		} catch (e) {
		}
	</script>

	<ul class="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">主页</a>
		</li>

		<li class="active">数据同步任务</li>
	</ul>
	<!-- /.breadcrumb -->
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">

	<!-- /section:settings.box -->
	<div class="page-content-area">
		<div class="row">
			<div class="col-xs-12">

				<div class="row" ng-app="pageApp" ng-controller="pageCtrl"
					ng-init="load()">
					<div class="col-xs-12">

						<div class="table-header">数据同步任务列表 </div>

						<!-- <div class="table-responsive"> -->

						<!-- <div class="dataTables_borderWrap"> -->
						<div>
							<div id="sample-table-2_wrapper"
								class="dataTables_wrapper form-inline no-footer">
								<div class="row">
									<div class="col-xs-6">
										<div class="dataTables_length" id="sample-table-2_length"></div>
									</div>
									<div class="col-xs-6">
										<div id="sample-table-2_filter" class="dataTables_filter">
										</div>
									</div>
								</div>
								<table id="sample-table-2"
									class="table table-striped table-bordered table-hover dataTable no-footer"
									role="grid" aria-describedby="sample-table-2_info">
									<thead>
										<tr role="row">
											<th class="hidden-50">任务源</th>
											<th class="hidden-50">目标数据库实例</th>
											<th class="hidden-20">同步服务器</th>
											<th class="hidden-50">状态</th>
											<th class="hidden-50">日志进度</th>
											<th class="hidden-50">操作</th>
										</tr>
									</thead>

									<tbody>

										<tr role="row" class="odd" ng-repeat-start="item in items  | orderBy: 'syncServerName'">
											<td><a href="javascript:void(0)" ng-click ="item.isShow=!item.isShow;">{{item.pumaTaskName|cut:true:25:'...'}}</a></td>
											<td>{{item.dstDBInstanceName|cut:true:25:'...'}}</td>
											<td>{{item.syncServerName|cut:true:20:'...'}}</td>
											<td><span
												ng-class="{'label-success' :state(item.name).status == 'RUNNING','label-warning' : state(item.name).status== 'FAILED' }"
												class="label label-sm">{{state(item.name).strStatus}}</span></td>
											<td>{{state(item.name).binlogInfo.binlogFile}}&nbsp;
												{{state(item.name).binlogInfo.binlogPosition}}</td>
											<td>
												<div class="hidden-sm hidden-xs action-buttons">
													<a class="blue" href="javascript:void(0)"
														ng-click="resume(item.name)"> <i
														class="ace-icon fa fa-play bigger-110"></i>
													</a> <a class="blue" href="javascript:void(0)"
														ng-click="pause(item.name)"> <i
														class="ace-icon fa fa-pause bigger-110"></i>
													</a> <a class="blue" href="javascript:void(0)"
														ng-click="refresh(item.name)"> <i
														class="ace-icon fa fa-refresh bigger-130"></i>
													</a> <a class="green"
														href="${rc.contextPath}/sync-task/create/"> <i
														class="ace-icon fa fa-plus-circle purple bigger-130"></i>
													</a><a class="green"
														href="${rc.contextPath}/sync-task/update/{{item.id}}">
														<i class="ace-icon fa fa-pencil bigger-130"></i>
													</a> <a class="red" href="javascript:void(0)"
														ng-click="dialog(item.name)"> <i
														class="ace-icon fa fa-trash-o bigger-130"></i>
													</a>
												</div>
											</td>
										</tr>
										<tr></tr>
										<tr ng-repeat-end ng-show = "item.isShow">
											<td colspan="6">
											<div class="col-xs-12 puma-list-detail">
												<div class="puma-list-line">
													<div class ="col-sm-2">Sync任务名称：</div>
													<div class ="col-sm-4">{{item.name}}</div>
													<div class ="col-sm-2">binlog起始信息：</div>
													<div class ="col-sm-4">{{item.binlogInfo.binlogFile}} - {{item.binlogInfo.binlogPosition}}</div>
												</div>
												<div class="puma-list-line">
													<div class ="col-sm-2">创建时间：</div>
													<div class ="col-sm-4">{{item.gmtCreate | date:'yyyy-MM-dd hh:mm:ss'}}</div>
													<div class ="col-sm-2">更新时间：</div>
													<div class ="col-sm-4">{{item.gmtModify | date:'yyyy-MM-dd HH:mm:ss'}}</div>
												</div>
												<div class="puma-list-line">
													<div class ="col-sm-2">ddl：</div>
													<div class ="col-sm-4">{{item.ddl}}</div>
													<div class ="col-sm-2">dml：</div>
													<div class ="col-sm-4">{{item.dml}}</div>
												</div>
												<div class="puma-list-line">
													<div class ="col-sm-2">transaction：</div>
													<div class ="col-sm-4">{{item.transaction}}</div>
													<div class ="col-sm-2">consistent：</div>
													<div class ="col-sm-4">{{item.consistent}}</div>
												</div>
												<div class="puma-list-line">
													<div class ="col-sm-2"> 默认处理：</div>
													<div class ="col-sm-4">{{item.defaultHandler}}</div>
													<div ng-repeat="(key, value) in item.errorCodeHandlerNameMap">
														<div class ="col-sm-2"> {{key}}错误处理：</div>
														<div class ="col-sm-4">{{value}}</div>
													</div>
												</div>
												<div class="puma-list-line">
												 	<div class ="col-sm-2">INSERT数：</div>
													<div class ="col-sm-4"><span class="red">{{state(item.name).inserts}}</span></div>
													<div class ="col-sm-2">UPDATE数：</div>
													<div class ="col-sm-4"><span class="red">{{state(item.name).updates}}</span></div>
												</div>
												<div class="puma-list-line">
												 	<div class ="col-sm-2">DELETE数：</div>
													<div class ="col-sm-4"><span class="red">{{state(item.name).deletes}}</span></div>
													<div class ="col-sm-2">DDL数：</div>
													<div class ="col-sm-4"><span class="red">{{state(item.name).ddls}}</span></div>
												</div>
												<div class="puma-list-line">
													<div class ="col-sm-2">sync延时：</div>
													<div class ="col-sm-4"><span class="red">{{state(item.name).delay}}</span></div>
													<div class ="col-sm-2"></div>
													<div class ="col-sm-4"></div>
												</div>
												<div class="puma-list-line">
													<div class ="col-sm-2">状态详情：</div>
													<div class ="col-sm-10"><span class="red">{{state(item.name).detail?state(item.name).detail:state(item.name).status}}</span></div>
												</div>
												<div class="puma-list-line">
													<div class ="col-sm-12 puma-list-line-center"><span class="blue bigger-120">映射关系</span></div>
												</div>
												<div ng-repeat="database in item.mysqlMapping.databases">
												<div class="puma-list-line">
													<div class ="col-sm-2"><span class="bigger-115">源库：</span></div>
													<div class ="col-sm-4"><span class="bigger-115">{{database.from}}</span></div>
													<div class ="col-sm-2"><span class="bigger-115">目标库：</span></div>
													<div class ="col-sm-4"><span class="bigger-115">{{database.to}}</span></div>
												</div>
												<div ng-repeat="table in database.tables">
													<div class="puma-list-line">
														<div class ="col-sm-2">源表：</div>
														<div class ="col-sm-4"><span>{{table.from}}</span></div>
														<div class ="col-sm-2">目标表：</div>
														<div class ="col-sm-4"><span>{{table.to}}</span></div>
													</div>
												</div>
												</div>
											</div>
											
											</td>
										</tr>
									</tbody>
								</table>
								<div class="row" ng-show="totalPage > 0">
									<div class="col-xs-6">
										<div class="dataTables_info" id="sample-table-2_info"
											role="status" aria-live="polite">显示 {{startIndex}} 到
											{{endIndex}} 共 {{count}}</div>
									</div>
									<div class="col-xs-6">
										<div class="dataTables_paginate paging_simple_numbers"
											id="sample-table-2_paginate">
											<ul class="pagination">
												<li ng-class="{true:'active'}[currentPage==1]"
													class="paginate_button" aria-controls="sample-table-2"
													tabindex="0"><a href="javascript:void(0)"
													ng-click="currentPage = 1;load()">首页</a></li>
												<li ng-class="{true:'disabled'}[currentPage == 1]"
													class="paginate_button" aria-controls="sample-table-2"
													tabindex="0"><a href="javascript:void(0)"
													ng-click="prev()">前一页</a></li>
												<li ng-class="{true:'disabled'}[currentPage == totalPage]"
													class="paginate_button" aria-controls="sample-table-2"
													tabindex="0"><a href="javascript:void(0)"
													ng-click="next()">下一页</a></li>
												<li ng-class="{true:'active'}[currentPage == totalPage]"
													class="paginate_button" aria-controls="sample-table-2"
													tabindex="0"><a href="javascript:void(0)"
													ng-click="currentPage=totalPage;load()">末页</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
</div>
<!-- /.page-content -->
