<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="pumaTaskOperationEventPublisher"
          class="com.dianping.puma.core.monitor.SwallowEventPublisher"
          init-method="init">
        <property name="topic" value="puma_task_operation" />
    </bean>

    <bean id="pumaTaskControllerEventPublisher"
          class="com.dianping.puma.core.monitor.SwallowEventPublisher"
          init-method="init">
        <property name="topic" value="puma_task_controller" />
    </bean>

    <bean id="pumaTaskStateSubscriber"
          class="com.dianping.puma.core.monitor.SwallowEventSubscriber"
          init-method="init">
        <property name="topic" value="puma_task_state"/>
        <property name="notifyService" ref="notifyService"/>
        <property name="clazz" value="com.dianping.puma.core.monitor.event.PumaTaskStateEvent" />
        <property name="listeners">
            <list>
                <ref bean="taskStateReceiver" />
            </list>
        </property>
    </bean>

    <bean id="syncTaskOperationEventPublisher"
          class="com.dianping.puma.core.monitor.SwallowEventPublisher"
          init-method="init">
        <property name="topic" value="sync_task_operation"/>
    </bean>

    <bean id="syncTaskControllerEventPublisher"
          class="com.dianping.puma.core.monitor.SwallowEventPublisher"
          init-method="init">
        <property name="topic" value="sync_task_controller"/>
    </bean>

    <bean id="syncTaskStateSubscriber"
          class="com.dianping.puma.core.monitor.SwallowEventSubscriber"
          init-method="init">
        <property name="topic" value="sync_task_state"/>
        <property name="notifyService" ref="notifyService"/>
        <property name="clazz" value="com.dianping.puma.core.monitor.event.SyncTaskStateEvent" />
        <property name="listeners">
            <list>
                <ref bean="syncTaskStateReceiver" />
            </list>
        </property>
    </bean>

</beans>