<meta charset="utf-8" />
<title>Puma管理端</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${rc.contextPath}/style/bs/css/bootstrap.css?v=1" rel="stylesheet">
<link href="${rc.contextPath}/style/theme.css?v=2" rel="stylesheet">
<link href="${rc.contextPath}/style/puma.css" rel="stylesheet">
<!--[if IE 6]>
    <link href="${rc.contextPath}/style/bs/css/ie6.min.css" rel="stylesheet">
<![endif]-->
<script>
	//环境变量
	window.contextpath = "${rc.contextPath}";
</script>
