<div class="container"
   style="margin: 0 auto; width: 100%; margin-bottom: 50px;">
   <div>
      <a style="float: right;"
         href="${rc.contextPath}/mysqlSetting/create"><span>
            创建配置</span></a>
      <p class="legend">已有的配置</p>
      <div id="container" style="height: 600px;">
         <div class="container-fluid">
            <div class="row-fluid">
               <table class="table table-hover table-striped">
                  <thead>
                     <tr>
                        <th>数据库名称</th>
                        <th>数据库Host</th>
                        <th>操作</th>
                     </tr>
                  </thead>
                  <tbody>
                     #foreach($mysqlConfig in ${mysqlConfigs})
                     <tr>
                        <td>${mysqlConfig.name}</td>
                        <td>#foreach($mysqlHost in
                           ${mysqlConfig.hosts})${mysqlHost.host} #end</td>
                        <td><a
                           href="${rc.contextPath}/mysqlSetting/modify?id=${mysqlConfig.id}"
                           style="margin-right: 10px;"><span
                              class="label label-info">编辑 »</span></a><a
                           href="javascript:pumadmin.openDelMysqlConfigModal('${mysqlConfig.id}')"><span
                              class="label">删除 »</span></a></td>
                     </tr>
                     #end
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- 删除帐号 -->
<div aria-hidden="true" data-backdrop="true" role="dialog" tabindex="-1"
   class="modal hide" id="delMysqlConfigModal" style="display: none;">
   <div class="modal-header">
      <button aria-hidden="true" data-dismiss="modal" class="close"
         type="button">×</button>
      <h3>删除配置</h3>
   </div>
   <form action="${rc.contextPath}/mysqlSetting/delete" method="post"
      onsubmit="pumadmin.submit(this);return false;"
      onSuccess="deleteMysqlConfigDone">
      <div class="modal-body">
         <p style="text-align: center;">
            <i class="icon-warning-sign"></i> 您是否确定要删除该配置 ？
         </p>
         <input id="delId" name="id" type="hidden" value="">
      </div>
      <div class="modal-footer">
         <button type="submit" class="btn btn-primary">确定</button>
         <button data-dismiss="modal" class="btn">取消</button>
      </div>
   </form>
</div>
