<div class="container"
   style="margin: 0 auto; width: 100%; margin-bottom: 50px;">
   <div>
      <a style="float: right;" href="${rc.contextPath}/mysqlSetting"><span>
            查看已有配置</span></a>
      <p class="legend">填写Mysql的配置</p>
      <div id="container" style="">
         <div class="container-fluid">
            <div class="row-fluid">
               <div class="span8">
                  <form class="form-horizontal"
                     action="${rc.contextPath}/mysqlSetting/modify"
                     onsubmit="pumadmin.submit(this);return false;"
                     method="post" onSuccess="modifyMysqlConfigDone">
                     <div class="control-group">
                        <label class="control-label">数据库名称</label>
                        <div class="controls">
                           <input type="text" disabled="disabled"
                              value="${mysqlConfig.name}"> <input
                              type="hidden" name="name"
                              value="${mysqlConfig.name}"> <input
                              type="hidden" name="id"
                              value="${mysqlConfig.id}">
                        </div>
                     </div>
                     <div id="mysqlHostInput">
                        #foreach($mysqlHost in ${mysqlConfig.hosts})
                        <hr>
                        <div class="control-group">
                           <label class="control-label">ServerId</label>
                           <div class="controls">
                              <input type="text" name="serverId"
                                 value="$mysqlHost.serverId">
                           </div>
                        </div>
                        <div class="control-group">
                           <label class="control-label">Host</label>
                           <div class="controls">
                              <input type="text" name="host"
                                 value="$mysqlHost.host">
                           </div>
                        </div>
                        <div class="control-group">
                           <label class="control-label">Username</label>
                           <div class="controls">
                              <input type="text" name="username"
                                 value="$mysqlHost.username">
                           </div>
                        </div>
                        <div class="control-group">
                           <label class="control-label">Password</label>
                           <div class="controls">
                              <input type="password" name="password"
                                 value="$mysqlHost.password">
                           </div>
                        </div>
                        #end
                     </div>
                     <div class="control-group">
                        <div class="controls">
                           <button type="button"
                              style="margin-right: 20px"
                              onclick="pumadmin.addMysqlHostInput()"
                              class="btn">增加mysql输入框</button>
                           <button type="submit" class="btn btn-primary">
                              确定</button>
                        </div>
                     </div>
                  </form>
                  <div id="mysqlHostInputDemo" style="display: none">
                     <hr>
                     <div class="control-group">
                        <label class="control-label">ServerId</label>
                        <div class="controls">
                           <input type="text" name="serverId">
                        </div>
                     </div>
                     <div class="control-group">
                        <label class="control-label">Host</label>
                        <div class="controls">
                           <input type="text" name="host">
                        </div>
                     </div>
                     <div class="control-group">
                        <label class="control-label">Username</label>
                        <div class="controls">
                           <input type="text" name="username">
                        </div>
                     </div>
                     <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                           <input type="password" name="password">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
