<div class="container-fluid">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <div class="btn-group-sm pull-right">
            <button class="btn btn-default" onclick="javascript:history.back();">取消</button>
            <button class="btn btn-success validation-button" type="submit" form="sync-server-create-form"
                    #if(${lock}) disabled="disabled" #end>保存</button>
         </div>
         <h5>
            新增数据同步服务器 #if(${lock})<span class="orange-warning">(已锁定，请先删除相关任务)</span>#end
         </h5>
      </div>

      <form id="sync-server-create-form" class="form-horizontal puma-form" method="post"
            action="${rc.contextPath}/sync-server/create" target="${rc.contextPath}/sync-server">
         <div class="panel-body">

            #if(${entity})
            <div class="form-group" hidden="hidden">
               <label class="sr-only" for="id"></label>
               <input id="id" name="id" value="${entity.id}">
            </div>
            #end

            <div class="form-group">
               <label class="col-md-2 control-label" for="name">服务器名称</label>
               <div class="col-md-7 validation-div">
                  <input id="name" name="name" class="form-control validation-input" format="server-name"
                         #if(${entity}) value="${entity.name}" #end #if(${lock}) disabled="disabled" #end>
               </div>

               <div class="col-md-3 validation-help">
                  <span hidden="hidden">无效服务器名称</span>
               </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label" for="ip">IP地址</label>
               <div class="col-md-7">
                  <input id="ip" name="ip" class="form-control validation-input" format="ip"
                         placeholder="若不指定端口号，默认为8080" #if(${entity}) value="${entity.host}:${entity.port}" #end
                         #if(${lock}) disabled="disabled" #end>
               </div>

               <div class="col-md-3 validation-help">
                  <span hidden="hidden">无效IP地址</span>
               </div>
            </div>

         </div>
      </form>
   </div>
</div>
